<div style="background-color: #fff;">
    <if condition="$type eq 'stastics_date'">
    <div class='question-div'>
        <p class="div-title">销售日、月统计：</p>
        <div>
            <ul>
                <li class='prompt'>销售日统计默认显示前一天的信息（当天的信息第二天才会更新）</li>
                <li class='prompt'>销售月统计默认显示前一月的信息（数据是从销售日统计整理得到）</li>
                <li>1，新增订单数：所查询时间段递交到系统中的订单数量，金额为递交过来订单的金额</li>
                <li>2，审核订单数：所查询时间段在系统中审核过的订单数量，如果驳回的话数量会扣减。审核金额也就是审核过的订单金额</li>
                <li>3，发货订单数：所查询时间段在系统中发货的订单数量，如果驳回的话数量会扣减。发货订单金额是发货订单的金额</li>
                <li>4，零成本价出库销售总额：该订单包含的平台货品对应的系统货品成本价为0的订单金额之和</li>
                <li>5，发货货品成本：这段时间已经发货的货品的成本计价（成本价是在库存管理中维护的）</li>
                <li>6，邮资成本：是根据对应系统货品的重量跟物流邮资策略来计算得到的系统预估的邮资成本</li>
                <li>7，订单毛利：发货订单金额减去发货货品成本减去邮资成本减去零成本价出库销售额得到的结果(是否扣减零成本可修改配置)</li>
            </ul>
        </div>
    </div>
    <elseif condition="$type eq 'stastics_goods'"/>
    <div class="question-div">
        <p class='div-title'>单品销售、畅销统计：</p>
        <div>
            <ul>
                <li class='prompt'>单品销售统计默认显示的是一个月之内按店铺统计出来的单品销售情况</li>
                <li class='prompt'>一直截至到规格名称的字段都是显示的单品的一些信息</li>
                <li class='prompt'>单品畅销统计页面默认显示的是一周单品的销售情况。（数据是从单品销售统计中取得的）</li>
                <li class='prompt'>单品畅销统计默认是按销售的总量排序，排名靠前代表销量高。其他字段的说明跟单品销售统计基本相同</li>
                <li>1，均价：如果发货总量-退款总量为0，那么均价为0。数量不为0时均价的计算方式为:（发货总金额-退款总金额）/（发货总量-退款总量）</li>
                <li>2，零售价：货品档案中维护的单品的零售价</li>
                <li>3，折扣率：如果发货总量为0，那么折扣率为0。发货总量不为0时折扣率的计算方式为:（发货总金额/发货总量）/零售价 （保留两位小数，如果零售价为0 折扣率为空）</li>
                <li>4，发货总量：该单品在这段时间内在系统内的发货总量（会减去这段时间内已驳回的量）</li>
                <li>5，退货总量：这段时间内该单品的退货数量（退换类型为退货和换货的数量）</li>
                <li>6，退款总量：这段时间内该单品的退款数量（退换类型仅为退款的数量）</li>
                <li>7，实际销售量：发货总量-退货总量</li>
                <li>8，邮资收入：这段时间发出的包含该单品的原始单的邮费总和（购买者所付的邮费）</li>
                <li>9，发货总金额：该系统货品对应的平台货品的发货总数乘以该平台货品的平台价格</li>
                <li>10，未知成本销售总额：满足条件，允许0成本出库并且是包装的并且成本价为0的单品的未知成本销售总额=货品数量*价格，否则为0</li>
                <li>11，货品总成本：用库存管理中该货品的成本价乘以发货总量</li>
                <li>12，货品总利润：发货总金额-未知成本销售总额-货品总成本-佣金成本</li>
                <li>13，退货总金额：该单品在这段时间内退货金额之和（退换类型为退货、换货、退款不退货的总金额）</li>
                <li>14，退款总金额：该单品在这段时间内退款金额之和（退换类型仅为退款的总金额）</li>
                <li>15，实际销售额：发货总金额-退款总金额-退货总金额</li>
                <li>16，实际货品总成本：货品总成本-退货总成本</li>
                <li>17，实际货品总利润：发货总金额+退货总成本-退款总金额-货品总成本-退货总金额-未知成本销售额-佣金成本</li>
                <li>18，平台退款金额：该单品在这段时间内的平台退款金额之和（与退换管理中的平台退款金额一致）</li>
            </ul>
        </div>
    </div>
    <elseif condition="$type eq 'stastics_performance'"/>
    <div class="question-div">
        <p class="div-title">绩效统计：</p>
        <div>
            <ul>
                <li class='prompt'>业务员绩效统计的是每天已审核的订单，按照业务员进行统计</li>
                <li>1.订单总量：当天审核的包含该业务员的订单总量</li>
                <li>2.订单应收金额：该业务员当天审核订单的金额之和</li>
                <li>3.预估总利润：订单预估利润之和（预估利润是订单金额减去一系列成本得到的）</li>
                <li>4.邮费总额：审核的原始订单中的订单邮费之和</li>
                <li>5.售后退款总额：当天同意的退款单的金额之和</li>
                <li>6.客单价：订单应收金额除以订单总量</li>
                <li>7.货品总量：所审核订单中货品数量之和</li>
                <li>8.货品种类：订单中货品种类之和，重复种类不重复计算</li>
            </ul>
        </div>
    </div>
    </if>
</div>
<style type="text/css">
    .question-div{
        font-size: 14px;
        letter-spacing:1.5px;
        margin-bottom: 20px;
        padding:10px;
    }
    .prompt{
        color:red;
    }
    .div-title{
        margin:5px;
        padding-left: 10px;
        font-weight: bold;
    }
    li{
        list-style:none;
        padding-left:40px;
        padding-top:10px;
    }
</style>