<script type="text/javascript" src="__ROOT__/Public/Js/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/datagrid.extends.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/jquery.extends.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/tabs.util.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/erp.util.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/rich-datagrid.util.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/thin-datagrid.util.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/datalist.util.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Js/area.js"></script>
