<form id="fm" method="post">
<div class="form-div">
<label>新密码:&emsp;&emsp;</label>
<input id="pwd" class="easyui-textbox" type="password" name="pwd" data-options="required:true,validType:'password'">
</div>
<div class="form-div">

<label>请确认:&emsp;&emsp;</label>
<input id="repwd" class="easyui-textbox" type="password" name="repwd" missingMessage="两次输入的密码不匹配" data-options="required:true,validType:'equalTo[\'#pwd\']'">
</div>
<div class="form-div">
<label>验　证:&emsp;&emsp;</label>
<input class="easyui-textbox" name="code" style="width:92px;" missingMessage="验证码为六位整数" data-options="required:true,validType:'code'">
<a href="javascript:void(0);" class="easyui-linkbutton" style="width:76px;" data-options="required:true,validType:'zip'" onclick="sendCode('pwd','fm')">获取验证码</a>
</div>
</form>
<script>
$('#'+employee_obj.params.edit.id).dialog('options').onBeforeClose=function(){ setTime.count=0; setTime.send=false; }
employee_obj.submitChangePasswordDialog=function(){
    if(!$('#fm').form('validate')){ return; }
    if(setTime.count==60&&!setTime.send){messager.info('请先获取验证码');return;}
    var form = $('#fm').form('get');
    var data = {}; data.password = $.md5(form.pwd); data.id = '{$id}'; data.code = form.code;
    $.post("{:U('Setting/Employee/changePassword')}", {data: JSON.stringify(data)}, function (res) {
    	if (res.status==1) { messager.info(res.info);return; }
        $('#'+employee_obj.params.edit.id).dialog('close');
    });
}
</script>