<form id="fm" method="post">
<if condition="$role eq 0">
<div class="form-div">
<label>原密码:&emsp;&emsp;</label>
<input class="easyui-textbox" type="password" name="oldpwd" data-options="required:true,validType:'password'">
</div>
</if>
<div class="form-div">
<label>新密码:&emsp;&emsp;</label>
<input id="pwd" class="easyui-textbox" type="password" name="pwd" data-options="required:true,validType:'password'">
</div>
<div class="form-div">
<label>请确认:&emsp;&emsp;</label>
<input id="repwd" class="easyui-textbox" type="password" name="repwd" missingMessage="两次输入的密码不匹配" data-options="required:true,validType:'equalTo[\'#pwd\']'">
</div>
</form>
<script>
employee_obj.submitChangePasswordDialog=function(){
    if(!$('#fm').form('validate')){ return; }
    var form = $('#fm').form('get');
    var data = {}; data.password = $.md5(form.pwd); data.oldpassword=!form.oldpwd?'':$.md5(form.oldpwd); data.id = '{$id}';
    $.post("{:U('Setting/Employee/changePassword')}", {data: JSON.stringify(data)}, function (res) {
    	if (res.status==1) { messager.info(res.info);return; }
        $('#'+employee_obj.params.edit.id).dialog('close');
    });
}
</script>