<taglib name="TagLib\EasyUI" />
<style>
.txt-split{width:100px;}
.footer-split{padding-left:5px;height:5%;background-color: #f4f4f4;}
.red-txt{color:red;}
</style>
<easyui:datagrid id="{$datagrid.id}" style="{$datagrid.style}" options="datagrid.options" fields="datagrid.fields" />
<div id="{$id_list.toolbar}">
<div class="form-div">
<label style="color: blue;" >#按组合装拆分暂时不支持批量操作 #编辑对应组合装<span class='red-txt'>拆分数</span>->确认无误后->点击<span class='red-txt'>确定</span>#</label>
<!-- <label>拆出订单数量：</label>
<select class="easyui-combobox sel" name="suite_split_num" id="suite_split_num" data-options="panelHeight:'auto',editable:false, required:true" style="width:70px;">
    <option value="0"></option><option value="1">一条</option><option value="2">多条</option>
</select> -->
</div>
</div>
<script type="text/javascript">
//# sourceURL=trade.split.js
var dialog;
tradeCheck.split_flag_arr={};
tradeCheck.split_flag_arr.tip_type=0;
$(function(){
	$('#{$datagrid.id}').datagrid().datagrid('enableCellEditing');
	setTimeout(function(){
		dialog='{$id_list.add_suite_dialog}';
		suiteSplitOrder = new ThinDatagrid($('#{$datagrid.id}'),undefined,false);
		loadSuiteOrdersData();		
	},0);
});
function loadSuiteOrdersData(){	
	var json_orders={$suite_split_common_order};
	$('#{$datagrid.id}').datagrid('loadData',json_orders);
}
function endSplitTradeEdit(index,row,changes){
	tradeCheck.split_flag_arr.tip_type=0;
	if(parseFloat(row.split_num)>parseFloat(row.num)){
		tradeCheck.split_flag_arr.tip_type=1;
		messager.alert('拆分的数量不能大于货品数量');
		row.split_num=0;//大于剩余数量，置为0
		return;
	}else if(parseFloat(row.split_num)<0){
		tradeCheck.split_flag_arr.tip_type=2;
		messager.alert('拆分的数量不能小于0');
		row.split_num=0;//小于0，置为0
		return;
	}else if(row.split_num==undefined){
		row.split_num=0;//为空，置为0
		return;
	}
	row.left_num=parseFloat(row.num-row.split_num).toFixed(4);
	return;
}
function getSplitTradeSelect(index, row){
	tradeCheck.split_flag_arr.index=index;
}
tradeCheck.submitSuiteSplitDialog=function(){
	var dg=$('#'+'{$datagrid.id}');
	var rows=dg.datagrid('getRows');
	var split_sum=0;
	if (rows.length==0) {messager.alert('列表中没有组合装');return;}
	for (var i = 0; i < rows.length; i++) {
		split_sum+=rows[i].split_num;
	}
	if (split_sum==0) {messager.alert('至少有一件货品被拆分，请编辑对应货品的拆分数');return;}
	var data={};
	var id=rows[0]['trade_id'];
	data['info']=rows;
	data=JSON.stringify(data);
	Post('{:U('TradeCheck/suiteSplit')}?id='+id,{data:data},function(res){
		if(!res.status){
			$('#'+tradeCheck.params.edit.id).dialog('close');
			messager.alert(res.info);
			return false;
		}else{
			messager.alert(res.info);
			$('#'+tradeCheck.params.edit.id).dialog('close');
			tradeCheck.refresh();
		}
	},"JSON");
}
</script>