<extend name="../../Common/View/datagrid_tabs_base" />
<block name="toolbar">
<div  id="{$id_list.tool_bar}">
<div class="form-div">
<p style="color:red;">*该条码对应多个货品，请选择满足条件货品      方法：双击要添加的货品</p>
</div>
</div>
<script>
//# sourceURL=check_goods_list.js
$(function(){
	setTimeout(function(){
		checkCashGoodsList = new RichDatagrid(JSON.parse('{$params}'));
		var datagrid_id = checkCashGoodsList.params.datagrid.id;
		$('#'+datagrid_id).datagrid('options').onDblClickRow = function(index,row){
			var rows ={};
			rows[0]=row;
			var checkCashObject = $('#'+datagrid_id).datagrid('options').that;
			$('#'+checkCashObject.params.goods_list_dialog.id).dialog('close');
			if(row.is_suite==1){
				tardeCashUpdateSuite(row,0);
			}else{
				tradeCashUpdateSpec(rows,0);
			}
		};
		var cash_goods_list = cashSalesTrade.cash_goods_list;
		if(cash_goods_list == undefined || $.isEmptyObject(cash_goods_list)){
			cash_goods_list=[];
		}
		$('#'+datagrid_id).datagrid('loadData',cash_goods_list);
	},0);
});
</script>
</block>
<block name="tabs">
</block>
<block name="dialog">
</block>