<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--
    <object id="CaiNiaoPrint_OB" classid="clsid:09896DB8-1189-44B5-BADC-D6DB5286AC57" width=0 height=0>
        <embed id="CaiNiaoPrint_EM" TYPE="application/x-cainiaoprint" width=0 height=0  ></embed>
    </object>
    -->
	
</head>
<body>
<style>
	.print-field > label
	{
		font-weight:bold;
		display:block;
		margin:5px 5px;
		font-size: 15px;
		align-content: center;
		background: #eaf2ff;
	}
</style>
<script language="javascript" src="__ROOT__/Public/Js/thin-datagrid.util.js"></script>
<script language="javascript" src="__ROOT__/Public/Js/CaiNiaoPrintFuncs.js"></script>

<div class="easyui-layout" data-options="fit:true" style="width:100%;height:100%;overflow:hidden;" id="panel_layout">

	<div data-options="region:'west',split:true" style="width:18%;height:100%;overflow:hidden;">
		<table id="goods_print_template_dg" class="easyui-datagrid" data-options="fit:true"></table>
		<div id="goods_print_template_tb" style="padding:5px;height:auto;">
			<div>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
				   onclick="printgoodsTemplate.addgoodsTemplate()">添加</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
				   onclick="printgoodsTemplate.accept(goodsTemplate.savegoodsPrintTemplate, true)">保存</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
				   onclick="printgoodsTemplate.extendgoodsReject()">撤销</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
				   onclick="printgoodsTemplate.copyGoodsTemplate()">复制</a>
			</div>
		</div>
  
	</div>


	<div id="goods_print_template_center" data-options="region:'center'" style="width:80%;height:100%;">
		<div id = 'goods_print_drop_area' class="easyui-droppable targetarea" data-options="accept: '.goods_print_tool_dragitem',onDrop: function(e,source){goodsTemplate.printItemOndrop(e,source);}">
			<object id="goods_print_template_cn_obj" classid="clsid:09896DB8-1189-44B5-BADC-D6DB5286AC57" width=800 height=400>
				<param name="Caption" value="内嵌显示区域">
				<param name="Border" value="1">
				<param name="Color" value="#C0C0C0">
				<embed id="goods_print_template_cn_em" TYPE="application/x-cainiaoprint"width=800 height=400></embed>
			</object>
		</div>
	</div>
	<div data-options="region:'east',split:true" style="width:20%;height:100%;overflow:hidden;background:#E0ECFF;">
		<include file="../Application/Setting/View/PrintTemplate/print_component_list.html" print_menu_id="goods_print_template_fields"  type='goods' js_class_object="goodsTemplate" print_item_class='goods_print_tool_dragitem'/>
	</div>

	<!-- <div style="line-height:10px;"> </div>
   <table width="100%" style="border-width:0px; font-size: 12px;">
       <tr style="line-height:25px;border-width:0px;">
           <td style="border-width:0px;">合计金额：</td>
       </tr>
	   
       <tr style="line-height:25px;border-width:0px;">
           <td style="border-width:0px;">店铺名称：[店铺名称]</td>
           <td style="border-width:0px;">联系人：[联系人]</td>
           <td style="border-width:0px;">联系电话：[联系电话]</td>
       </tr>
   </table> -->
	<script type="text/javascript">
		//# sourceURL=goodsPrintTemplate.js
		var CNGoodsPrint; //声明为全局变量

		$(function(){


			setTimeout(function(){
				$('#goods_goods_print_table_info').datagrid({onAfterEdit:function(index, row, changes){
					var rows =  $(this).datagrid('getRows');
					//整理使用的字段信息,用来保存
					goodsTemplate.formatterTableFieldsInfo(rows);
					goodsTemplate.tableShowFilter(rows,CNGoodsPrint);
				}});
				messager.tip('goods_print_template_float_position_datagrid');
				//printTemplate = new ThinDatagrid('#goods_print_template_dg', editPrintTemplate);
				function GoodsTemplate(params,object_id,printer){
					this.printer		= printer;
					this.params 		= params;
					this.id 			= this.params.id;
					this.title 			= this.params.title;
					this.type 			= this.params.type;
					this.original_template_content = $.isEmptyObject(params.content)?{}:JSON.parse(this.params.content);
					this.new_template_content 	 = undefined;
					this.object_id 				 = object_id;
					if(this.id == 0){
						$('#goods_print_template_save').linkbutton('disable');
					}else{
						$('#goods_print_template_new').linkbutton('disable');
					}
				}

				goodsTemplate = new GoodsTemplate(JSON.parse('{$goods_template_info}'),'goods_print_template_dg',CNGoodsPrint);


				goodsTemplate.newPrintTemplate = function(){
					this.displayGoodsDesign('new');
				} ;
				//表头是否显示问题
				goodsTemplate.changetableTitleShow = function (newValue, oldValue,combo_point){
					var rows =  $('#goods_goods_print_table_info').datagrid('getRows');
					//整理使用的字段信息,用来保存
					this.formatterTableFieldsInfo(rows);
					this.tableShowFilter(rows,CNGoodsPrint);
				};
				//表格框是否显示问题
				goodsTemplate.changetableLineShow = function (newValue, oldValue,combo_point){
					var rows =  $('#goods_goods_print_table_info').datagrid('getRows');
					this.formatterTableFieldsInfo(rows);
					this.tableShowFilter(rows,CNGoodsPrint);
				};
				//序号列是否显示问题
				goodsTemplate.changetableNumberShow = function (newValue, oldValue,combo_point){
					var rows =  $('#goods_goods_print_table_info').datagrid('getRows');
					this.formatterTableFieldsInfo(rows);
					this.tableShowFilter(rows,CNGoodsPrint);
				};
				goodsTemplate.printItemOndrop = function(e,source){
					if(printgoodsTemplate.handle_status == 0){
						printgoodsTemplate.extendAlertHandler('请先新建模板，再布局！');
						return;
					}
					if(printgoodsTemplate.handle_status == 2){
						printgoodsTemplate.extendAlertHandler('请选择编辑的模板！');
						return;
					}
					var name 	= $(source).val();
					var value 	= $(source).attr('name');
					var offset 	= $(source).attr('seq');
					var group 	= $(source).attr('group');
					var deltaX  = $('.proxy').offset().left - $('#goods_print_template_cn_obj').offset().left-95;
					var deltaY  = $('.proxy').offset().top - $('#goods_print_template_cn_obj').offset().top-70;
					if($(source).attr('component_type')=='code'){
						//CNGoodsPrint.ADD_PRINT_BARCODE(20+offset*20,10+(parseInt(group)-1)*50,100,20,'128A',name);
						CNGoodsPrint.ADD_PRINT_BARCODE(deltaY,deltaX,100,20,'128A',name);
						CNGoodsPrint.SET_PRINT_STYLEA(0,'ItemName',value);
					}else if($(source).attr('name')=='goods_info_table'){
						var width = goodsTemplate.calcTableWidth();
						CNGoodsPrint.ADD_PRINT_HTM(240,35,width,500,$('#goods_print_tempalte_html').html());
						CNGoodsPrint.SET_PRINT_STYLEA(0,'ItemName',value);
						goodsTemplate.tableShowFilter($('#goods_goods_print_table_info').datagrid('getRows'),CNPrint);
					}else if($(source).attr('name')=='goods_info_text'){
						var name = goodsTemplate.getTableText();
						CNGoodsPrint.ADD_PRINT_TEXTA(value,290,35,300,150, name);
					}else{
						if(($(source).attr('name')=='suite_info')){
							CNGoodsPrint.ADD_PRINT_TEXTA(value,deltaY-25,deltaX-50,300,50, name);
            				return;
						}
						CNGoodsPrint.ADD_PRINT_TEXTA(value,deltaY,deltaX,100,20, name);
					}
				};
				goodsTemplate.calcTableWidth = function(){
					var datagrid_id = '#goods_goods_print_table_info';
					var rows =  $(datagrid_id).datagrid('getRows');
					var width = 100;
					var field_map_td = {
						'goods_name':{width:90,name:'货品名称'},
						'spec_name':{width:90,name:'规格'},
						'num':{width:90,name:'数量'},
						'price':{width:90,name:'单价'},
					};
					for(var i in rows){
						if(rows[i].is_display == 1){
							width += isNaN(parseInt(rows[i].width))?field_map_td[rows[i].field_name].width:parseInt(rows[i].width);
						}
					}
					return width;
				};
				goodsTemplate.getTableText = function(){
					var datagrid_id = '#goods_goods_print_table_info';
					var rows =  $(datagrid_id).datagrid('getRows');
					var form = $('#goods_goods_print_table_toolbar_form').form('get');
					var print_field_show_sequence = {'goods_name':{'numb':0,'width':200,'text':'货品名称'},'short_name':{'numb':1,'width':80,'text':'货品简称'},'spec_name':{'numb':2,'width':200,'text':'规格'},'num':{'numb':3,'width':80,'text':'数量'},'spec_no':{'numb':5,'width':80,'text':'商家编码'},'goods_no':{'numb':6,'width':80,'text':'货品编号'},'spec_code':{'numb':7,'width':80,'text':'规格码'},'price':{'numb':4,'width':80,'text':'单价'},'position_no':{'numb':8,'width':80,'text':'货位'}};

					var  text = '';

					var text_ar = [];
					for(var i in rows){
						if(rows[i].is_display == 1){
							text_ar[print_field_show_sequence[rows[i].field_name].numb] = print_field_show_sequence[rows[i].field_name].text;
						}
					}
					var text_f = [];
					text += (form.number_show == 1?'1-':'');
					for(var i in text_ar)
					{
						if(!!text_ar[i])
						{
							text_f.push(text_ar[i]);
						}
					}

					text += text_f.join('-');
					return text+'(根据需要调整长宽)';
				};
				goodsTemplate.createGoodsTemplate = function(page_info){
					CNGoodsPrint=getCaiNiaoPrint(document.getElementById('goods_print_template_cn_obj'),document.getElementById('goods_print_template_cn_em'));
					$('#goods_print_template_cn_obj').css('width', $('#goods_print_template_center').width());
					$('#goods_print_template_cn_obj').css('height', $('#goods_print_template_center').height());
					$('#goods_print_template_cn_em').css('width', $('#goods_print_template_center').width());
					$('#goods_print_template_cn_em').css('height', $('#goods_print_template_center').height());
//		CNGoodsPrint.PRINT_INITA(0,0,400,100,"打印控件功能演示_CNGoodsPrint功能_在线编辑获得程序代码");
//		CNGoodsPrint.PRINT_INIT("发货单模板");
						
					if(page_info != undefined){

						CNGoodsPrint.PRINT_INITA(0,0,this.compatibleSize(page_info.width),this.compatibleSize(page_info.height),'发货单模板');
					}else{
						CNGoodsPrint.PRINT_INITA(0,0,600,500,'发货单模板');
					}
					return true;
				};
				goodsTemplate.compatibleSize = function(deal_str){
					if(deal_str == undefined){
						deal_str = '800';
						return deal_str;
					}

					if(typeof deal_str == 'string'){
						var temp_str = deal_str.toString();
						if(!$.isEmptyObject(temp_str.match(/mm/))){
							temp_str = temp_str.replace(/[\"]|[\']|(mm)/g,'');
							temp_str = parseInt(parseFloat(temp_str)*96/25.4).toString();
						}
					}
					return temp_str
				};
				goodsTemplate.displayGoodsDesign = function(type) {
					var row = $('#goods_print_template_dg').datagrid('getSelected');
					if(printgoodsTemplate.content != undefined && "copy" == type)
							row.content = printgoodsTemplate.content;
					var pare_info = undefined;
					if(!$.isEmptyObject(row)){
						var content = (typeof row.content == 'string') ? JSON.parse(row.content):row.content;
						if(content!=undefined){
							pare_info = {width:content.width,height:content.height};//,background_url:content.background_url
						}
					}
					if (!goodsTemplate.createGoodsTemplate(pare_info)) {
							return;
						}
					$('#goods_print_template_save').linkbutton('enable');
					$('#goods_print_template_new').linkbutton('disable');
					
					if (!$.isEmptyObject(row)) {
							var that = $('#goods_print_template_dg').datagrid('options').that;
							CNGoodsPrint.SET_SHOW_MODE("DESIGN_IN_BROWSE", 1);
							var printor_list = {};
							printor_list = goodsTemplate.getPrintGoodsTemplatePrintorLocalList();
							var temp_printor_list = {};
							if (!$.isEmptyObject(row.content)) {
								if ("string" == typeof(row.content)) {
									row.content = JSON.parse(row.content);
								}
								CNGoodsPrint.ADD_PRINT_DATA("ProgramData", row.content.print);

								//[type]_print_template_float_position_datagrid
								if (row.content.printor_float_position != undefined && !$.isEmptyObject(row.content.printor_float_position)) {
									printor_list = goodsTemplate.mergePrintGoodsTemplatePrintorList(printor_list, row.content.printor_float_position)

								}
//								CNGoodsPrint.ADD_PRINT_SETUP_BKIMG(decodeURI(row.content.background_url));
							}
							temp_printor_list = $.extend(true, {}, printor_list);
							$('#goods_print_template_float_position_datagrid').datagrid('loadData', temp_printor_list);
						}else{
							CNGoodsPrint.SET_SHOW_MODE("DESIGN_IN_BROWSE", 1);
						}
						CNGoodsPrint.PRINT_DESIGN();//打开ISV设计模式
						goodsTemplate.formatterDataInfoToPropertyInfo();
						goodsTemplate.tempClearPricePrint(CNGoodsPrint);
						goodsTemplate.initGoodsTable();
				};
				goodsTemplate.extendAlertHandler = function(Info){
					var that = this;
					$('#'+that.object_id).hide();

					messager.alert(Info,'',function(){
						$('#'+that.object_id).show();
					});
					setTimeout(function(){
						$('[class="panel window messager-window"] a[class="panel-tool-close"]').bind('click',function(){
							$('#'+that.object_id).show();
						});
						$('[class="panel window messager-window"]').bind('keydown',function(evnet){
							if (event.keyCode == 27) {
								$('#'+that.object_id).show();
							}
						});
					},0);
				};
				goodsTemplate.getPrintGoodsTemplatePrintorLocalList =function (){
					var printor_list = {'total':0,'rows':[]};
					printor_list.total = CNGoodsPrint.GET_PRINTER_COUNT();
					for(var i= 0;i<printor_list.total;i++){
						printor_list.rows[i] = {'printor_name':CNGoodsPrint.GET_PRINTER_NAME(i+':PrinterName'),'left':0,'top':0};
					}
					return printor_list;
				};

				goodsTemplate.mergePrintGoodsTemplatePrintorList =function (local_list,db_list){
					db_list_count = db_list.rows.length;
					local_list_count = local_list.rows.length;
					for(var i = 0;i<local_list_count;i++){
						var temp_local_list_item = local_list.rows[i];
						var is_set_local_printor = false;
						for(var j = 0;j<db_list_count;j++){
							if(db_list.rows[j].printor_name == temp_local_list_item.printor_name){
								is_set_local_printor = true;
								break;
							}
						}
						if(is_set_local_printor == false){
							var temp_printor_item = $.extend(true,{},temp_local_list_item);
							db_list.rows.push(temp_printor_item);
						}
					}
					return db_list;
				};
				goodsTemplate.isChangedPageInfo = function(new_page_info,old_content){
					if(old_content == undefined){
						return true;
					}
					if(new_page_info.width!=old_content.width || new_page_info.height != old_content.height )//|| new_page_info.background_url != old_content.background_url
					{return true;}else{return false;}
				};
				goodsTemplate.tempClearPricePrint = function(printer){
					var datagrid_id = '#goods_goods_print_table_info';

					var rows =  $(datagrid_id).datagrid('getRows');
					//整理使用的字段信息,用来保存
					this.formatterTableFieldsInfo(rows);
					this.tableShowFilter(rows,CNGoodsPrint);

				};
				

				$('.goods_print_tool_dragitem').draggable({
					revert:true,
					deltaX:10,
					deltaY:10,
					proxy:function(source){
						var n = $('<div class="proxy"></div>');
						var value 	= $(source).val();

						n.html("<input value='"+value+"' type='button'/>").appendTo('body');
						return n;
					}
				});

				//把的属性信息转化为数据
				goodsTemplate.formatterDataInfoToPropertyInfo	=function(){
					var data = {'total':4,'rows':[
						{'name':'货品名称','field_name':'goods_name','is_display':1,'width':90},
						{'name':'货品简称','field_name':'short_name','is_display':0,'width':90},
						{'name':'规格','field_name':'spec_name','is_display':1,'width':90},
						{'name':'数量','field_name':'num','is_display':1,'width':90},
						{'name':'单价','field_name':'price','is_display':0,'width':90},
						{'name':'商家编码','field_name':'spec_no','is_display':0,'width':90},
						{'name':'货品编号','field_name':'goods_no','is_display':0,'width':90},
						{'name':'规格码','field_name':'spec_code','is_display':0,'width':90},
						{'name':'货位','field_name':'position_no','is_display':0,'width':90},
					]};

					var temp_data = $.extend(true,{},data);
					var row = $('#goods_print_template_dg').datagrid('getSelected');
					if(row != undefined && !$.isEmptyObject(row)){
						if(!$.isEmptyObject(row.content) && row.content != undefined){
							this.original_template_content.formatter_table_info = row.content.formatter_table_info;
						}else{
							this.original_template_content.formatter_table_info = new Object();
						}
					}

					if(this.original_template_content.formatter_table_info != undefined && !$.isEmptyObject(this.original_template_content.formatter_table_info )){
						for(var i in temp_data.rows){
							if(!this.original_template_content.formatter_table_info[temp_data.rows[i].field_name]){
								continue;
							}
							var field_is_display = this.original_template_content.formatter_table_info[temp_data.rows[i].field_name].is_display;
							var field_width = this.original_template_content.formatter_table_info[temp_data.rows[i].field_name].width;
							temp_data.rows[i].is_display = field_is_display;
							if(!!field_width){
								temp_data.rows[i].width = field_width;
							}
						}
					}
					$('#goods_goods_print_table_info').datagrid('loadData',temp_data);
					//return temp_data;
				};
				goodsTemplate.initGoodsTable = function(){
					var that = this;

					$('#goods_goods_print_table_font_family').combobox({onChange:function(newValue, oldValue){var combo_point = this; that.fontFamilyChange(newValue, oldValue,combo_point);}});
					$('#goods_goods_print_table_font_size').numberspinner({onChange:function(){var spinner_point = this; that.fontSizeChange(spinner_point);}});
					$('#goods_goods_print_table_title_show').combobox({onChange:function(newValue, oldValue){var combo_point = this; that.changetableTitleShow(newValue, oldValue,combo_point);}});
					$('#goods_goods_print_table_line_show').combobox({onChange:function(newValue, oldValue){var combo_point = this;that.changetableLineShow(newValue, oldValue,combo_point);}});
					$('#goods_goods_print_table_number_show').combobox({onChange:function(newValue, oldValue){var combo_point = this;that.changetableNumberShow(newValue, oldValue,combo_point);}});
			
					var font_info = undefined;
					var row = $('#goods_print_template_dg').datagrid('getSelected');
					//if(that.id != 0 &&that.original_template_content != undefined){
						//font_info = that.original_template_content.font_info;
					//}
					if(!$.isEmptyObject(row) && row.content != undefined){
						font_info = row.content.font_info;
					}
					font_info = that.setTableFont(font_info);
					$('#goods_goods_print_table_toolbar_form').form('filterLoad',font_info);
				};
				goodsTemplate.fontFamilyChange = function(newValue, oldValue,combo_point){

					$('#goods_print_tempalte_table_html').css({'font-family':newValue});
					var rows =  $('#goods_goods_print_table_info').datagrid('getRows');
					//整理使用的字段信息,用来保存
					this.formatterTableFieldsInfo(rows);
					this.tableShowFilter(rows,CNGoodsPrint);
				};
				goodsTemplate.fontSizeChange = function(spinner_point){

					var size = $(spinner_point).numberspinner('getValue');
					$('#goods_print_tempalte_table_html').css({'font-size':size+'pt'});
					var rows =  $('#goods_goods_print_table_info').datagrid('getRows');
					//整理使用的字段信息,用来保存
					this.formatterTableFieldsInfo(rows);
					this.tableShowFilter(rows,CNGoodsPrint);
				};
				//整理显示信息用来保存
				goodsTemplate.formatterTableFieldsInfo = function(rows){
					var show_info = {};
					for(var i in rows){
						show_info[rows[i].field_name] = {is_display:rows[i].is_display,width:rows[i].width}
					}
					this.original_template_content.formatter_table_info = show_info;
				};
				//根据属性显示table
				goodsTemplate.tableShowFilter  = function(rows,printer){
					var table_form_data = $('#goods_goods_print_table_toolbar_form').form('get');
					var show_title = table_form_data.title_show;
					var show_line = table_form_data.line_show;
					var show_number = table_form_data.number_show;
					var goods_object = this;

					var table_show_info = rows;
					var table_selector = $('#goods_print_tempalte_table_html tr');

					var table_tr = ['<td width="50px"></td>','<td width="50px">1</td>'];
					var field_map_td = {
						'goods_name':{width:90,name:'货品名称'},
						'short_name':{width:90,name:'货品简称'},
						'spec_name':{width:90,name:'规格'},
						'num':{width:90,name:'数量'},
						'price':{width:90,name:'单价'},
						'spec_no':{width:90,name:'商家编码'},
						'goods_no':{width:90,name:'货品编号'},
						'spec_code':{width:90,name:'规格码'},
						'position_no':{width:90,name:'货位'},

					};
					var width = 100;
					for(var i in table_show_info){
						if(table_show_info[i].is_display == 1){
							width += isNaN(parseInt(table_show_info[i].width))?0:parseInt(table_show_info[i].width);
							table_tr[0] = table_tr[0] +'<td width="'+table_show_info[i].width+'px">'+table_show_info[i].name+'</td>';
							table_tr[1] = table_tr[1] +'<td width="'+table_show_info[i].width+'px">['+table_show_info[i].name+']</td>';
						}
					}


					for(var j=0 ;j< table_selector.length;j++){
						$(table_selector[j]).html(table_tr[j]);
						if(j==0){
							if(show_title==0){
								$(table_selector[j]).css({'display':'none'});
							}else {
								$(table_selector[j]).css({'display':'block'});
							}
						}	
					}
					if(show_line == 0){
						$('#goods_print_tempalte_table_html td').css({'border':'0'});
						$('#goods_print_tempalte_table_html').css({'border':'0'});
					}
					if(show_number == 0){
						$('#goods_print_tempalte_table_html tr td:first-child').css({'display':'none'});
					}
					var total_item_num = printer.GET_VALUE('ItemCount',0);

					for(var item_index = 1;item_index<=total_item_num;item_index++){
						var item_class_name = printer.GET_VALUE('ItemName',item_index);
						if( item_class_name == 'goods_info_table'){
							printer.SET_PRINT_STYLEA(item_index,"Width",width);
							printer.SET_PRINT_STYLEA(item_index,"CONTENT",$('#goods_print_tempalte_html').html());
//			printer.ADD_PRINT_HTM(240,35,700,500,$('#goods_print_tempalte_html').html());
						}
						if( item_class_name == 'goods_info_text'){
							var text = goods_object.getTableText();
							printer.SET_PRINT_STYLEA(item_index,"CONTENT",text);
						}
					}

				};
				$('#goods_print_template_dg').datagrid({
					singleSelect: true,
					toolbar: '#goods_print_template_tb',
					url: '__ROOT__/index.php/Setting/PrintTemplate/getTemplateList/type/3',
					//onClickRow: printTemplate.clickRow,
					//remoteSort: false,
					columns:[[ {field: 'rec_id', hidden: true,},
						{field: 'title', title: '模板名称',width:100,editor:{type:'validatebox',options:{required: true}}},
						{field: 'content', hidden: true,width:40},
						{field: 'is_disabled', title: '停用',formatter:formatter.boolen,editor: {type: 'checkbox', options: {on: 1, off: 0}},},
						{field: 'modified', title: '修改时间',},
					]],
				});


				printgoodsTemplate = new ThinDatagrid('#goods_print_template_dg', goodsTemplate.displayGoodsDesign, true, {
					print: {
						type: 'print_template',
						object_id: 'goods_print_template_cn_obj'
					}
				});
				printgoodsTemplate.handle_status = 0;//0初始化状态，1新建状态，2保存新建状态
				printgoodsTemplate.addgoodsTemplate = function () {
					var that = this;
					this.handle_status = 1;
					this.append({is_disabled: 0, type: '0'});
					that.bill_type = '0';
					goodsTemplate.displayGoodsDesign();
				};

				printgoodsTemplate.copyGoodsTemplate = function(){
					var row = $('#goods_print_template_dg').datagrid('getSelected');
					if($.isEmptyObject(row)){
						this.extendAlertHandler("请先选择相应的模板再复制");
						return;
					}
					printgoodsTemplate.content = row.content;
					this.handle_status = 1;
					this.append({is_disabled: 0, type: '0'});
					this.bill_type = '0';
					goodsTemplate.displayGoodsDesign("copy");
				}

				printgoodsTemplate.extendgoodsReject = function(){
					this.handle_status = 0;
					this.reject();
					goodsTemplate.displayGoodsDesign();
				};
				goodsTemplate.savegoodsPrintTemplate = function(data,that){
					if (that.handle_status != 1) {
						that.extendAlertHandler("请先选择相应的模板，或者添加模板后再保存！");
						return;
					}
					var print = CNGoodsPrint.GET_VALUE("CustomProgramData", 0);
					var width = CNGoodsPrint.GET_VALUE("PrintInitWidth", 0);
					var height = CNGoodsPrint.GET_VALUE("PrintInitHeight", 0);
				//	var background_url = encodeURI(CNGoodsPrint.GET_VALUE('BKIMG_CONTENT', 0));
					var new_page_info = {width: width, height: height};//, background_url: background_url
					var row = $('#goods_print_template_dg').datagrid('getSelected');
					var is_changed_page = goodsTemplate.isChangedPageInfo(new_page_info, row.content);
					var printor_float_position = $('#goods_print_template_float_position_datagrid').datagrid('getData');
					var change_printor_list = $('#goods_print_template_float_position_datagrid').datagrid('getChanges');
					var change_goods_table = $('#goods_goods_print_table_info').datagrid('getChanges');
					if ((($.isEmptyObject(print) && $.isEmptyObject(row.content)) ||
							(!$.isEmptyObject(print) && !$.isEmptyObject(row.content) && print == row.content.print ))
							&& $.isEmptyObject(data)
							&& $.isEmptyObject(change_printor_list) && $.isEmptyObject(change_goods_table) && !is_changed_page) {
						var select_row = $(that.selector).datagrid('getSelected');
						var select_index = $(that.selector).datagrid('getRowIndex', select_row);

						that.editIndex = select_index;
						$(that.selector).datagrid('selectRow', select_index).datagrid('beginEdit', select_index);
						that.extendAlertHandler('模板没有被修改过！');
						return;
					}
					var temp_content = {print: print, width: width, height: height};//, background_url: background_url
					if (row.content == undefined) {
						row.content = $.extend({}, temp_content);
					} else {
						$.extend(row.content, temp_content);
					}
					row.content.printor_float_position = $.extend(true, {}, printor_float_position);
					row.content.printor_float_position.total = printor_float_position.rows.length;
					var total_item_num = CNGoodsPrint.GET_VALUE('ItemCount',0);
					var item_name_to_index_arr = {};
					for(var item_index = 1; item_index <= total_item_num; item_index++){
						var item_class_name = CNGoodsPrint.GET_VALUE('ItemName', item_index);
						if($. isEmptyObject(item_class_name) || $.trim(item_class_name) == ''){
							continue;
					}
						if(item_name_to_index_arr[item_class_name] == undefined){
							item_name_to_index_arr[item_class_name] = [];
					}
						item_name_to_index_arr[item_class_name].push(item_index);
				}
					row.content.item_to_position= item_name_to_index_arr;
					row.content.total_item= total_item_num;

					var copy = jQuery.extend(true,{}, row);
					delete copy.modified;
					var rows = $('#goods_goods_print_table_info').datagrid('getRows');
					var table = '';
					for(var i in rows){
						table += '"' + rows[i].field_name + '"' + ':{"is_display":' + rows[i].is_display + ',"width":' + rows[i].width + "},";
					}
					table = table.substring(0,table.length-1);
					var formatter_table_info;
					formatter_table_info = jQuery.parseJSON("{" + table + "}");
					var font_info = $('#goods_goods_print_table_toolbar_form').form('get');
					//var font_info = {font_size:font.font_size,font_family:font.font_family,title_show:font.title_show,line_show:font.line_show,number_show:font.number_show}
					row.content.formatter_table_info = formatter_table_info;
					row.content.font_info = font_info;

					copy.content = JSON.stringify(row.content);
					copy.type = 3;
				$.post("__ROOT__/index.php/Setting/PrintTemplate/saveGoodsPrintTemplate", copy, function (r){
					if (r.status != 0){
						that.extendAlertHandler(r.msg);
						//messager.alert(r.msg);
						$('#goods_print_template_dg').datagrid('selectRow', that.editIndex).datagrid('beginEdit', that.editIndex);
					} else{
						var rec_id = r.id;
						var selected_row 	= $('#goods_print_template_dg').datagrid("getSelected");
						var selected_index 	= $('#goods_print_template_dg').datagrid("getRowIndex", selected_row);
						$('#goods_print_template_dg').datagrid("updateRow",{
							index:selected_index,
							row:{
								'rec_id':rec_id,
							}
						});
					
						$('#goods_print_template_dg').datagrid('clearSelections');
						that.handle_status = 2;
					}
				});
				};
				$(printgoodsTemplate.selector).datagrid('options').onClickRow =function(index,row){
					var tap_obj = $(this).datagrid('options').that;
					tap_obj.handle_status = 1;
					tap_obj.bill_type = row.type
					tap_obj.clickRow.call(this,index,row);
					//	tap_obj.logistics_init = $('#goods_print_template_goods_list').combobox('getValue');
				};

				goodsTemplate.setTableFont = function(font_info){
					var family_data = $('#goods_goods_print_table_font_family').combobox('options').data;
					var isset_font = false;
					if(font_info==undefined || $.isEmptyObject(font_info)){
						var font_family = $('#goods_print_tempalte_table_html').css('font-family');
						font_info = {font_family :font_family.replace(/"|'/g,''),font_size:9};
					}
					for(var i = 0;i<family_data.length;i++){
						if(family_data[i].id == font_info.font_family){
							isset_font =true;
						}
					}
					if(!isset_font){
						this.extendAlertHandler('该系统不存在['+font_info.font_family+']字体');
						font_info.font_family = family_data[0].id;
					}
					$('#goods_print_tempalte_table_html').css({'font-size':font_info.font_size+'pt','font-family':font_info.font_family});
//					font_family.test ++;
					return font_info;
				};
				goodsTemplate.displayGoodsDesign();
				//-----------初始化字体显示
				//goodsTemplate.initGoodsTable();
			});

		});
	</script>

</div>
</body>
</html>