<extend name="../../Common/View/datagrid_tabs_base" />
<block name="toolbar">
 <div id="{$id_list.toolbar}" style="padding:5px;height:auto">
        <form id="{$id_list.form}" class="easyui-form" method="post">
            <div id="stalls_check_menu" class="easyui-menu" style="width:150px;" noline="true">
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick = "stallsManagement.edit_hot_print_status()";>清除爆款单打印状态</a>
			</div>
			
			<div class="form-div">
                <label style="width: 80px;">　档口单号：</label><input class="easyui-textbox txt" type="text" name="search[stalls_no]" style="width: 130px;"/>
				<label style="width: 80px;">　　供应商：</label><select class="easyui-combobox sel" name="search[provider_id]" data-options="panelHeight:'200px',editable:false " style="width: 130px;">
						<volist name='provider_array' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist></select> 
				<label style="width: 80px;">唯一码状态：</label><input class="easyui-combobox txt" name="search[unique_print_status]" data-options="valueField:'id',textField:'name',data:formatter.get_data('unique_print_status')" />
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="stallsManagement.submitSearchForm();">搜索</a>
			    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="stallsManagement.loadFormData();">重置</a>
            
			</div>	
			<div class="form-div">
				<label style="width: 80px;">档口单状态：</label><input class="easyui-combobox txt" name="search[status]" data-options="valueField:'id',textField:'name',data:formatter.get_data('stalls_status')" />
				<label style="width: 80px;">　收货仓库：</label><select class="easyui-combobox sel" name="search[warehouse_id]" data-options="panelHeight:'200px',editable:false " >
						<volist name='warehouse_array' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist></select> 
				<label style="width: 80px;">　　采购人：</label><select class="easyui-combobox sel" name="search[purchaser_id]" data-options="panelHeight:'200px',editable:false " >
						<volist name='employee_array' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist></select> 
			    </div>
        </form>
        <input type="hidden" id="{$id_list.hidden_flag}" value="1">
       <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick = "stallsManagement.addStallsOrder()";>生成档口单</a>　
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick = "stallsManagement.edit()";>编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true" onclick = "stallsManagement.cancelStallsOrder()";>取消</a>
		<a href="javascript:void(0)" class="easyui-menubutton" data-options="iconCls:'icon-save',plain:true,menu:'#stallsmanagement_split'" onclick = "stallsManagement.split_order()";>拆单</a>
		<a href="javascript:void(0)" class="easyui-menubutton" data-options="iconCls:'icon-print',plain:true,menu:'#stallsmanagement_uniquecode_print'" onclick = "stallsManagement.print(0)";>打印唯一码</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" onclick = "stallsManagement.printHot()";>打印爆款码</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" onclick = "stallsManagement.printStallsDetail()";>打印明细</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick = "stallsManagement.addHotOrder()";>生成爆款单</a>
		 <a href="javascript:void(0)" class="easyui-menubutton" data-options="iconCls:'icon-excel',plain:true,menu:'#common_datagrid_tabs_export'" >导出明细</a>
		 <div id="common_datagrid_tabs_export">
			 <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-excel',plain:true" name="exportToExcel" onclick="stallsManagement.exportToExcel('csv')">导出csv(推荐)</a>
			 <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-excel',plain:true" name="exportToExcel" onclick="stallsManagement.exportToExcel('excel')">导出到Excel</a>
		 </div>
		<div id="stallsmanagement_split" >
			<div data-options="iconCls:'icon-split'" onclick="stallsManagement.oneSplit()">按入库状态拆分</div>
		</div>
	 	<div id="stallsmanagement_uniquecode_print" >
		 	<div data-options="iconCls:'icon-print'" onclick="stallsManagement.print(1)">打印多排唯一码</div>
	 	</div>
	    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="setDatagridField('Purchase/StallsOrder','stallsordermanagement','{$datagrid.id}',1)">设置表头</a>
 	</div>
	<script>
	//# sourceURL=stallsManagement.js
	var codeWs;
	$(function(){
		setTimeout(function(){
			stallsManagement = new RichDatagrid(JSON.parse('{$params}'));
			stallsManagement.setFormData();
			stallsManagement.select_box = {};
			$('#'+stallsManagement.params.datagrid.id).datagrid('options').onRowContextMenu =function(e, rowIndex, rowData){
				 // 三个参数：e，rowIndex当前点击时所在行的索引，rowData当前行的数据
					e.preventDefault(); //阻止浏览器捕获右键事件
					 var rows=$('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
					var chose=false;
					for(var i=0;i<rows.length;i++){
						if($('#'+stallsManagement.params.datagrid.id).datagrid('getRowIndex',rows[i])==rowIndex){chose=true;}
					}
					if(chose==false){
						$(this).datagrid("clearSelections"); //取消所有选中项
						$(this).datagrid("selectRow", rowIndex); //根据索引选中该行
					}
					$(this).datagrid('options').that.click(rowIndex,rowData);
					$('#stalls_check_menu').menu('show', {
						hideOnUnhover: false,
						left: e.pageX,//在鼠标点击处显示菜单
						top: e.pageY,
					});

			};	
			stallsManagement.edit = function(){
				var that = this;
				var data = $('#'+this.params.datagrid.id).datagrid('getSelected');
				if(data == null){
					messager.alert('请先选择行！');
					return ;
				}
				var status = data.status;
				if(status != 20){
					messager.alert('档口单状态不正确,只能编辑档口单状态是编辑中的订单！');
					return ;
				}
				stallsManagement.showDialog(this.params.edit.id,this.params.edit.title,this.params.edit.url+"?id="+data.id+'&parent_info='+'{"dialog_id":"'+that.params.edit.id+'","datagrid_id":"'+that.params.datagrid.id+'"}',500,1000,[]);
				
				
			},
			stallsManagement.exportToExcel = function(type){
				var that = this;
				var data = $('#'+that.params.datagrid.id).datagrid('getSelected');
				if(data == null){
					messager.alert('请先选择行！');
					return ;
				}
				var id = data.id;
				var url = "{:U('Purchase/StallsOrderManagement/exportToExcel')}";
				var rows = $('#stallsmanagmentdatagrid_stalls_order_detail').datagrid("getRows");
				if(rows == ''){
					messager.alert('导出不能为空');return;
				}
				var total = $('#stallsmanagmentdatagrid_stalls_order_detail').datagrid("getData").total;
				var num = workTime.getWorkTimeNum(type);
				if(total>num){
					if(type == 'csv'){
						messager.alert('8:00-19:00可以导出10000条，其余时间可以导出20000条!');
					}else {
						messager.alert('8:00-19:00可以导出1000条，其余时间可以导出4000条!');
					}
					return;
				}
				messager.confirm('确定导出档口单详情？',function(r){
					if(!r){
						return false;
					}
					window.open(url+'?type='+type+'&id='+id);
				});
			}
			stallsManagement.edit_hot_print_status = function(){
				$('#stalls_check_menu').menu('hide');
				var that = this;
				var row = $('#'+that.params.datagrid.id).datagrid('getSelected');
				if(row == null){
					messager.alert('请先选择行!');
					return;
				}
				if(row.is_hot == 0){
					messager.alert('该订单不是爆款单，不能清除!');
					return;
				}
				if(row.hot_print_status == 1){
					messager.alert('该爆款单打印状态为未打印，无需清除!');
					return;
				}
				$.post('{:U("StallsOrderManagement/clearHotPrintStatus")}',{id:row.id},function(r){
					if(r.status == 1){
						messager.alert(r.info);
						return;
					}
				});
			}
			stallsManagement.addHotOrder = function(){
				$.post('{:U("StallsOrderManagement/addHotOrder")}','',function(r){
					if(r.status != 0){
						messager.alert(r.info);
						return;
					}else{
						messager.alert('成功生成爆款单');
						stallsManagement.refresh();
					}
				});
			}
			stallsManagement.cancelStallsOrder = function(){
				var that = this;
				var data = $('#'+this.params.datagrid.id).datagrid('getSelected');
				if(data == null){
					messager.alert('请先选择行！');
					return ;
				}
				if(data.status!=20){
					messager.alert('只能取消编辑中的档口单！');
					return ;
				}
				var id = data.id;
				messager.confirm('确定取消档口单',function(r){
					if(r){
						$.post("{:U('Purchase/StallsOrderManagement/cancelStallsOrder')}",{'id':id},function(r){
							switch(r.status){
								case 1:
									messager.alert(r.info);
									break;
								case 0:
									var index = $('#'+that.params.datagrid.id).datagrid('getRowIndex',data);
									$('#'+that.params.datagrid.id).datagrid('updateRow',{index:index,row:{status:10,}});
									break;
								default :
									messager.alert('系统错误,请联系管理员');
							}
						});
					}
				});
			}
			stallsManagement.split_order = function(){
				var that = this;
				if(stallsManagement.selectRows==undefined) {messager.alert('请选择拆分的订单!'); return false;}
				var row=stallsManagement.selectRows[0];
				if(row.goods_count!=undefined&&row.goods_count<2){messager.alert('档口单只有一个货品，不可拆分'); return false;}
				if(row.status!=undefined&&row.status!=20){messager.alert('档口单状态不正确，只能拆分编辑中的单子'); return false;}
				if(row.id == 0){messager.alert('单子不存在'); return false;}
				var buttons=[ {text:'确定',handler:function(){stallsManagement.submitTradeCheckDialog();}}, {text:'取消',handler:function(){$('#'+that.params.id_list.split).dialog('close');}} ];
				stallsManagement.showDialog(that.params.id_list.split,'拆分',that.params.dialog.url+'?id='+row.id,560,764,buttons);

			}
			stallsManagement.oneSplit = function(){
				var that = this;
				var resultBeforeCheck = [];
				var selects_info = {};
				if(stallsManagement.selectRows==undefined) {messager.alert('请选择拆分的订单!'); return false;}
				var selected_rows=stallsManagement.selectRows;
				var ids = '';
				for(var item in selected_rows){
					var temp_result = {'stalls_id':selected_rows[item]['id'],'stalls_no':selected_rows[item]['stalls_no']};
					if(parseInt(selected_rows[item]['status'])!=20){
						temp_result['msg'] = "档口单状态不正确，只能拆分编辑中的单子";
						resultBeforeCheck.push(temp_result);
						continue;
					}
					if(parseInt(selected_rows[item]['goods_count'])<2){
						temp_result['msg'] = "档口单只有一个货品，不可拆分";
						resultBeforeCheck.push(temp_result);
						continue;
					}
					var temp_index = $('#'+that.params.datagrid.id).datagrid('getRowIndex',selected_rows[item]);
					selects_info[temp_index] = selected_rows[item].id;
				}
				if($.isEmptyObject(selects_info))
				{
					$.fn.richDialog("response", resultBeforeCheck, "stalls",{close:function(){if(stallsManagement){stallsManagement.refresh();}}});
					return;
				}
				messager.confirm('确定拆分吗？', function(r){
					if(r){
						$.post("{:U('StallsOrderManagement/oneSplit')}", {ids:JSON.stringify(selects_info)}, function(result){
							if(parseInt(result.status) == 0){
								that.refresh();
								return true;
							}
							if(parseInt(result.status) == 1){
								messager.alert(result.info);
								that.refresh();
								return false;
							}
							if(parseInt(result.status) == 2){
								if(!$.isEmptyObject(result.data.fail)){
									//调用dialog显示处理结果
									$.fn.richDialog("response", result.data.fail, "stalls",{close:function(){if(stallsManagement){stallsManagement.refresh();}}});
								}
								return true;
							}
							return;
						},'json');
					}else{return;}
				});
			}
			
			stallsManagement.print = function(isMulti){
				var that = this;
                var data = $('#'+this.params.datagrid.id).datagrid('getSelections');
				var selects_info = {};
                if($.isEmptyObject(data)){
                    messager.alert("请选择操作的行!");
                    return;
                }
				var ids = "";
				for(var item in data){	
					 var temp_result = {'message':''};
					if(data[item]['status']!=20){
						temp_result['message'] = "不是编辑中的单子";
					}
					if(data[item]['unique_print_status']!=0){
						temp_result['message'] = "单子已打印唯一码";
					}
					var temp_index = $('#'+this.params.datagrid.id).datagrid('getRowIndex',data[item]);
					ids += data[item].id + ",";
				}
				var title = '打印唯一码';
				var url = "{:U('StallsOrderManagement/PrintCode')}?ids="+ids+"&isMulti="+isMulti;
				if(temp_result['message'] != ''){
					 messager.confirm(temp_result['message']+'确定继续打印吗？',function(r){
						if(r){
							that.postPrint(ids,title,url);
						}
					 });
				}else{
					that.postPrint(ids,title,url);
				}
			}
			stallsManagement.printStallsDetail = function(){
				var that = this;
                var data = $('#'+that.params.datagrid.id).datagrid('getSelections');
				var selects_info = {};
                if($.isEmptyObject(data)){
                    messager.alert("请选择操作的行!");
                    return;
                }
				var ids = "";
				for(var item in data){
					 var temp_result = {'message':''};
					if(data[item]['detail_print_status']!=0){
						temp_result['message'] = "单子已打印明细";
					}
					var temp_index = $('#'+that.params.datagrid.id).datagrid('getRowIndex',data[item]);
					ids += data[item].id + ",";
				}
				ids = ids.substr(0,ids.length-1);
				var title = '打印明细';
				var url = "{:U('StallsOrderManagement/printStallsDetail')}?ids="+ids;
				if(temp_result['message'] != ''){
					 messager.confirm(temp_result['message']+',确定继续打印吗？',function(r){
						if(r){
							that.postPrint(ids,title,url);
						}
					 });
				}else{
					that.postPrint(ids,title,url);
				}
			}
			stallsManagement.printHot = function(){
				var that = this;
                var data = $('#'+this.params.datagrid.id).datagrid('getSelections');
				var selects_info = {};
                if($.isEmptyObject(data)){
                    messager.alert("请选择操作的行!");
                    return;
                }
				var ids = "";
				for(var item in data){	
					 var temp_result = {'message':''};
					if(data[item]['status']!=20){
						temp_result['message'] = "不是编辑中的单子";
					}
					if(data[item]['hot_print_status']==2){
						temp_result['message'] = "单子已打印爆款码";
					}
					if(data[item]['is_hot']!='是'){
						messager.alert('不是爆款单不能打印爆款码!');
						return;
					}
					var temp_index = $('#'+this.params.datagrid.id).datagrid('getRowIndex',data[item]);
					ids += data[item].id + ",";
				}
				var title = '打印爆款码';
				var url = "{:U('StallsOrderManagement/PrintHotCode')}?ids="+ids;
				if(temp_result['message'] != ''){
					 messager.confirm(temp_result['message']+',确定继续打印吗？',function(r){
						if(r){
							that.postPrint(ids,title,url);
						}
					 });
				}else{
					that.postPrint(ids,title,url);
				}
			}
			stallsManagement.postPrint = function(info,title,url){
				stallsManagement.showDialog('{$id_list.dialog}',title,url,190,350,[{text:"取消",handler:function(){$("#"+stallsManagement.params.id_list.dialog).dialog('close');}}]);
			}
			stallsManagement.newSelectPrinter = function(){
                    var request = {
                        "cmd":"getPrinters",
                        "requestID":"123458976"+"99",
                        "version":"1.0",
                    }
                    codeWs.send(JSON.stringify(request));
                }
			stallsManagement.connectStockWS = function(){
				if(codeWs == undefined){
					codeWs = new WebSocket("ws://127.0.0.1:13528");
					codeWs.onmessage = function(event){stallsManagement.onStockMessage(event);};
					codeWs.onerror = function(){stallsManagement.onStockError();};
				}
				return ;
			}
			stallsManagement.onStockMessage = function(event){
                    var response_result =JSON.parse(event.data);
                    if(!$.isEmptyObject(response_result.status) && response_result.status != 'success'){
                        messager.alert(response_result.msg);
                        return;
                    }
                    if(!$.isEmptyObject(response_result))
                    {
                        switch(response_result.cmd){
                            case 'getPrinters':/*打印机列表命令*/
                            {
                                var type = response_result.requestID;
                                type = type.substr(type.length-2,type.length);
                                if(type == 99){
                                    stallsManagement.select_box.printer_list.combobox({
                                        valueField: 'name',
                                        textField: 'name',
                                        data: response_result.printers,
                                        value: response_result.defaultPrinter
                                    });
                                    stallsManagement.select_box.printer_list.combobox('reload');
                                }
                                break;
                            }
                            case 'print':
                            {
                                var taskID = response_result.taskID+"";
                                taskID = taskID.substr(taskID.length-3,taskID.length);
                                if(taskID==666)
                                {
                                    var preview;
                                    preview = response_result.previewURL;
                                    if(!$.isEmptyObject(preview))
                                        window.open(response_result.previewURL);
                                    preview = response_result.previewImage;
                                    if(!$.isEmptyObject(preview)&&(preview.length != 0))
                                        window.open(response_result.previewImage[0]);
                                }
                                break;
                            }
                            case 'notifyPrintResult':
                            {
                                if(response_result.taskStatus == "printed"){
                                    var type = response_result.taskID;
                                    type = type.substr(type.length-2,type.length);
                                    if(type==16){
										var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
										var rows_id_list = '';
										for(var i=0; i<rows.length; i++){
										   rows_id_list += rows[i].id + ',';
										}
										rows_id_list = rows_id_list.substr(0,rows_id_list.length-1);
										$.post("{:U('Purchase/StallsOrderManagement/update_unique_status')}",{ids:rows_id_list},function(ret){
											 if(ret.status == 1){
												messager.alert(ret.info);
												return;
											 }
											  messager.alert("打印唯一码完成");
											  stallsManagement.refresh();
											$('#'+stallsManagement.code).linkbutton({text:'打印',disabled:false});
										});
              
                                    }else if(type==18){
										var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
										var rows_id_list = '';
										for(var i=0; i<rows.length; i++){
										   rows_id_list += rows[i].id + ',';
										}
										rows_id_list = rows_id_list.substr(0,rows_id_list.length-1);
										$.post("{:U('Purchase/StallsOrderManagement/update_hot_status')}",{ids:rows_id_list,hot_print_num:stallsManagement.hot_print_num},function(ret){
											 if(ret.status == 1){
												messager.alert(ret.info);
												return;
											 }
											  messager.alert("打印爆款码完成");
											  stallsManagement.refresh();
											$('#'+stallsManagement.code).linkbutton({text:'打印',disabled:false});
										});
									}else if(type==20){
										var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
										var rows_id_list = '';
										for(var i=0; i<rows.length; i++){
										   rows_id_list += rows[i].id + ',';
										}
										rows_id_list = rows_id_list.substr(0,rows_id_list.length-1);
										$.post("{:U('Purchase/StallsOrderManagement/update_unique_status')}",{ids:rows_id_list,type:'detail'},function(ret){
											 if(ret.status == 1){
												messager.alert(ret.info);
												return;
											 }
											  messager.alert("档口单详情打印完成");
											  stallsManagement.refresh();
											$('#'+stallsManagement.code).linkbutton({text:'打印',disabled:false});
										});
									}
                                    $("#{$id_list.dialog}").dialog('close');
                                }else if(response_result.taskStatus == "failed"){
                                    messager.alert("打印失败");
                                    $('#'+stallsManagement.code).linkbutton({text:'打印',disabled:false});
                                }
	
                                break;
                            }
                        }

                    }
                }
				stallsManagement.onStockError = function(){
                    codeWs = null;
                    var print_dialog = '{$id_list.dialog}';
                    $('#'+print_dialog).dialog({
                        title: '打印组件错误',
                        width: 400,
                        height: 200,
                        closed: false,
                        cache: false,
                        href:  "{:U('Stock/StockSalesPrint/onWSError')}",
                        modal: true
                    });
                }
				stallsManagement.changeTemplatePage=function(){
                    open_menu('打印模板','{:U("Setting/NewPrintTemplate/getNewPrintTemplate")}');
                    $('#{$id_list.dialog}').dialog('close');
                }
			stallsManagement.checkPrintCode = function(print_code,isMulti){
				var that = this;
				var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
				if($.isEmptyObject(rows)){
					messager.alert('请先选择需要打印的行!');
					return false;
				}
				
				var printer = stallsManagement.select_box.printer_list.combobox('getValue');
				var templateId = stallsManagement.select_box.template_list.combobox('getValue');
				if(templateId == ""){
					messager.alert("预览错误：没有选择模板，请到模板列表页面下载模板");
					$("#{$id_list.dialog}").dialog('close');
					return ;
				}
				$('#'+stallsManagement.code).linkbutton({text:'打印中...',disabled:true});
				var rows_id_list = '';
				for(var i=0; i<rows.length; i++){
					rows_id_list += rows[i].id + ',';
				}
                rows_id_list = rows_id_list.substr(0,rows_id_list.length-1);
				if(print_code == 'onlycode'||print_code == 'stallsdetail'){
					stallsManagement.printCode(print_code,rows,printer,templateId,rows_id_list,0,isMulti);
				}else if(print_code == 'hotcode'){
					var url = "{:U('Purchase/StallsOrderManagement/checkHotPrintCode')}";
					$.post(url,{ids:rows_id_list},function(r){
                        if(r.status == 1){
							messager.alert(r.info);
							return;
						}else if(r.status == 2){
							$.fn.richDialog("response", r.info, "hot_code");
						}else{
							stallsManagement.printCode(print_code,rows,printer,templateId,rows_id_list,0,0);
						}
					});
				}
			}
			
			
			stallsManagement.printCode = function(print_code,rows,printer,templateId,rows_id_list,num,isMulti){
					var that = this; 
					if(print_code == 'onlycode'){
						var taskID = '16';
						var url = "{:U('Purchase/StallsOrderManagement/getPrintCode')}";
					}else if(print_code == 'hotcode'){
						var select_info = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelected');
						stallsManagement.hot_print_num = select_info.goods_count - num;
						var taskID = '18';
						var url = "{:U('Purchase/StallsOrderManagement/getPrintHotCode')}";
					}else if(print_code == 'stallsdetail'){
						var taskID = '20';
						var contents = stallsManagement.template_contents;
						var datas = this.getStallsDetailData(contents,templateId);
						if(datas === false){
							return;
						}
						that.connectStockWS();
						var requestID =  parseInt(1000*Math.random());
						var request = {
							'cmd' : 'print',
							'version' : '1.0',
							'requestID' : requestID,
							'task' : {
								'taskID' : requestID +''+taskID,
								'printer' : printer,//'',
								'preview' : false,
								'notifyMode':'allInOne',
								'documents' : datas
							}
						};
						codeWs.send(JSON.stringify(request));
						return;
					}
                    $.post(url,{ids:rows_id_list,num:num},function(ret){
                        if(ret.status == 1){
							messager.alert(ret.info);
							return;
						}
						var contents = stallsManagement.template_contents;
                        if(print_code == 'onlycode'){
							var datas = that.getCodeData(contents,templateId,ret.info);
							if(isMulti ==1){
                                var multiData = stallsManagement.getMultiArrangeData(datas);
                                datas = multiData;
							}
						}else{
							var datas = that.getHotCodeData(contents,templateId,ret.info);
						}
                        if(datas === false){
                            return;
                        }
                        that.connectStockWS();
                        var requestID =  parseInt(1000*Math.random());
                        var request = {
                            'cmd' : 'print',
                            'version' : '1.0',
                            'requestID' : requestID,
                            'task' : {
                                'taskID' : requestID +''+taskID,
                                'printer' : printer,//'',
                                'preview' : false,
                                'notifyMode':'allInOne',
                                'documents' : datas
                            }
                        };
                        codeWs.send(JSON.stringify(request));
                    });
				}
            stallsManagement.getMultiArrangeData = function (datas){
                var data_arr = [];
                var finish_arr = [];
                var flag = 0;
                for(var i=0;i<datas.length;i++){
                    var temp_arr = [];
                    flag = i%2;
                    if(flag ==1){
                        temp_arr.push(datas[i],datas[i-1]);
                        data_arr.push(temp_arr);
                    }
                }
                if(datas.length%2 !=0){
                    var temp_array = [];
                    temp_array.push(datas[datas.length-1]);
                    data_arr.push(temp_array);
                }
                var obj = datas[0].contents[0].data.unique_code_block;
                var keys = Object.keys(obj);
                var obj_key;
                for(var j=0;j<data_arr.length;j++){
                    if(data_arr[j].length ==2){
                        for(var k=0;k<keys.length;k++){
                            obj_key = keys[k]+'_r';
                            data_arr[j][0].contents[0].data.unique_code_block[obj_key]=data_arr[j][1].contents[0].data.unique_code_block[keys[k]];
                        }
                        finish_arr.push(data_arr[j][0]);
                    }else if(data_arr[j].length ==1){
                        finish_arr.push(data_arr[j][0]);
                    }
                }

                return finish_arr;
            }
				stallsManagement.printerSetting = function(){
                    this.connectStockWS();
                    var request = {
                        "cmd":"printerConfig",
                        "requestID":"123458976",
                        "version":"1.0",}
                    codeWs.send(JSON.stringify(request));
                }
				stallsManagement.previewPrintcode= function(print_code,isMulti){
                    var that = this;
                    var templateId = stallsManagement.select_box.template_list.combobox('getValue');
                    if(templateId == ""){
                        messager.alert("预览错误：没有选择模板，请到模板列表页面下载模板");
                        $("#{$id_list.dialog}").dialog('close');
                        return ;
                    }
                    var contents = stallsManagement.template_contents;
                    var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
                    var rows_id_list = '';
                    for(var i=0; i<rows.length; i++){
                       rows_id_list += rows[i].id + ',';
                    }
                    rows_id_list = rows_id_list.substr(0,rows_id_list.length-1);
					var num = 0;
					if(print_code == 'onlycode'){
						//var taskID = '16';
						var url = "{:U('Purchase/StallsOrderManagement/getPrintCode')}";
					}else if(print_code == 'hotcode'){
						//var select_info = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelected');
						//stallsManagement.hot_print_num = select_info.goods_count - num;
						//var taskID = '18';
						var url = "{:U('Purchase/StallsOrderManagement/getPrintHotCode')}";
					}else if(print_code == 'stallsdetail'){
						var datas = that.getStallsDetailData(contents,templateId);
						if (datas === false) {
							return;
						}
						that.connectStockWS();
						var requestID = parseInt(1000 * Math.random());
						var request = {
							'cmd': 'print',
							'version': '1.0',
							'requestID': requestID,
							'task': {
								'taskID': requestID + '' + '666',
								'printer': "",
								'preview': true,
								'previewType': 'pdf',
								'documents': datas
							}
						};
						codeWs.send(JSON.stringify(request));
						return;
					}
                    $.post(url,{ids:rows_id_list,num:num},function(ret){
						if(ret.status == 1){
							messager.alert(ret.info);
							return;
						}
						 if(print_code == 'onlycode'){
							var datas = that.getCodeData(contents,templateId,ret.info);
                             if(isMulti ==1){
                                 var multiData = stallsManagement.getMultiArrangeData(datas);
                                 datas = multiData;
                             }
						}else{
							var datas = that.getHotCodeData(contents,templateId,ret.info);
						}
						
                        if (datas === false) {
                            return;
                        }
                        that.connectStockWS();
                        var requestID = parseInt(1000 * Math.random());
                        var request = {
                            'cmd': 'print',
                            'version': '1.0',
                            'requestID': requestID,
                            'task': {
                                'taskID': requestID + '' + '666',
                                'printer': "",
                                'preview': true,
                                'previewType': 'pdf',
                                'documents': datas
                            }
                        };
                        codeWs.send(JSON.stringify(request));
                    });
                }
				stallsManagement.getStallsDetailData = function(contents,templateId){
					contents = JSON.parse(contents[templateId]);
					var templateURL = contents.custom_area_url;
					var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
					var stalls_derail =  getStallsGoodsDetail();
					if($.isEmptyObject(rows)){
						messager.alert('请先选择需要打印的行!');
						return false;
					}
					var datas = [],row;
					var now_date = new Date();
					var now_millisecond = now_date.getTime();
					var ID = 0;
					for (var j = 0; j < rows.length; ++j){
						row = rows[j];
						ID++;
						datas.push({
							'documentID' : now_millisecond.toString().concat(ID.toString()),
							'contents' : [
								{
									'templateURL' : templateURL,
									'data' : {
										stallsorder :{
											stalls_no : $.isEmptyObject(row.stalls_no)?'无':row.stalls_no,
											creator_name   : $.isEmptyObject(row.creator_name)?'无':row.creator_name,
											purchaser_name : $.isEmptyObject(row.purchaser_name)?'无':row.purchaser_name,
											warehouse_name : $.isEmptyObject(row.warehouse_name)?'无':row.warehouse_name,
											goods_count : $.isEmptyObject(row.goods_count)?'无':row.goods_count,
											goods_fee : $.isEmptyObject(row.goods_fee)?'无':row.goods_fee,
											remark : $.isEmptyObject(row.remark)?'无':row.remark,
										},
										stallsdetail:stalls_derail[row.id]
									}
								}
							]
						});
					}
					return datas;
				}
				 stallsManagement.getCodeData = function(contents,templateId,unique_code_data){
                    contents = JSON.parse(contents[templateId]);
                    var templateURL = contents.custom_area_url;
                    var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
                    if($.isEmptyObject(rows)){
                        messager.alert('请先选择需要打印的行!');
                        return false;
                    }
                    var datas = [],row;
                    var now_date = new Date();
                    var now_millisecond = now_date.getTime();
                    var ID = 0;  
					if(unique_code_data == null){
						unique_code_data = [];                        
					}                  
                                       
					for (var k in unique_code_data)
					{
						ID++;
						datas.push({
							'documentID' : now_millisecond.toString().concat(ID.toString()),
							'contents' : [
								{
									'templateURL' : templateURL,
									'data' : {
										unique_code_block :{
											unique_code : $.isEmptyObject(unique_code_data[k]['unique_code'])?'无':unique_code_data[k]['unique_code'],
											provider_name   : $.isEmptyObject(unique_code_data[k]['provider_name'])?'无':unique_code_data[k]['provider_name'],
											warehouse_name   : $.isEmptyObject(unique_code_data[k]['name'])?'无':unique_code_data[k]['name'],
											contact   : $.isEmptyObject(unique_code_data[k]['contact'])?'无':unique_code_data[k]['contact'],
											mobile   : $.isEmptyObject(unique_code_data[k]['mobile'])?'无':unique_code_data[k]['mobile'],
											address   : $.isEmptyObject(unique_code_data[k]['address'])?'无':unique_code_data[k]['address'],
											province   : $.isEmptyObject(unique_code_data[k]['province'])?'无':unique_code_data[k]['province'],
											city   : $.isEmptyObject(unique_code_data[k]['city'])?'无':unique_code_data[k]['city'],
											district   : $.isEmptyObject(unique_code_data[k]['district'])?'无':unique_code_data[k]['district'],
											spec_no   : $.isEmptyObject(unique_code_data[k]['spec_no'])?'无':unique_code_data[k]['spec_no'],
											spec_code   : $.isEmptyObject(unique_code_data[k]['spec_code'])?'无':unique_code_data[k]['spec_code'],
											spec_name   : $.isEmptyObject(unique_code_data[k]['spec_name'])?'无':unique_code_data[k]['spec_name'],
											price   : $.isEmptyObject(unique_code_data[k]['price'])?'无':unique_code_data[k]['price'],
											barcode   : $.isEmptyObject(unique_code_data[k]['barcode'])?'无':unique_code_data[k]['barcode'],
											goods_no   : $.isEmptyObject(unique_code_data[k]['goods_no'])?'无':unique_code_data[k]['goods_no'],
											goods_name   : $.isEmptyObject(unique_code_data[k]['goods_name'])?'无':unique_code_data[k]['goods_name'],
											short_name   : $.isEmptyObject(unique_code_data[k]['short_name'])?'无':unique_code_data[k]['short_name'],
											brand_name   : $.isEmptyObject(unique_code_data[k]['brand_name'])?'无':unique_code_data[k]['brand_name'],
											class_name   : $.isEmptyObject(unique_code_data[k]['class_name'])?'无':unique_code_data[k]['class_name'],
											package_num  : $.isEmptyObject(unique_code_data[k]['package_num'])?'无':unique_code_data[k]['package_num'],
											provider_group_name  : $.isEmptyObject(unique_code_data[k]['provider_group_name'])?'无':unique_code_data[k]['provider_group_name'],
											package_num_int  : $.isEmptyObject(unique_code_data[k]['package_num_int'])?'无':unique_code_data[k]['package_num_int'],
											days  : $.isEmptyObject(unique_code_data[k]['days'])?'无':unique_code_data[k]['days'],
											box_no  : $.isEmptyObject(unique_code_data[k]['box_no'])?'无':unique_code_data[k]['box_no'],
											pay_time  : $.isEmptyObject(unique_code_data[k]['pay_time'])?'无':unique_code_data[k]['pay_time'],
											logistics_name  : $.isEmptyObject(unique_code_data[k]['logistics_name'])?'无':unique_code_data[k]['logistics_name'],
										
										}
									}
								}
							]
						});
					}
				
                    return datas;
                }
				stallsManagement.getHotCodeData = function(contents,templateId,hot_code_data){
                    contents = JSON.parse(contents[templateId]);
                    var templateURL = contents.custom_area_url;
                    var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
                    if($.isEmptyObject(rows)){
                        messager.alert('请先选择需要打印的行!');
                        return false;
                    }
                    var datas = [],row;
                    var now_date = new Date();
                    var now_millisecond = now_date.getTime();
                    var ID = 0;  
					if(hot_code_data == null){
						hot_code_data = [];                        
					}                  
                                       
					for (var k in hot_code_data)
					{
						ID++;
						datas.push({
							'documentID' : now_millisecond.toString().concat(ID.toString()),
							'contents' : [
								{
									'templateURL' : templateURL,
									'data' : {
										hot_code_block :{
											hot_code : $.isEmptyObject(hot_code_data[k]['stalls_no'])?'无':hot_code_data[k]['stalls_no'],
											warehouse_name   : $.isEmptyObject(hot_code_data[k]['warehouse_name'])?'无':hot_code_data[k]['warehouse_name'],
											purchaser_name   : $.isEmptyObject(hot_code_data[k]['purchaser_name'])?'无':hot_code_data[k]['purchaser_name'],
											spec_no   : $.isEmptyObject(hot_code_data[k]['spec_no'])?'无':hot_code_data[k]['spec_no'],
											spec_code   : $.isEmptyObject(hot_code_data[k]['spec_code'])?'无':hot_code_data[k]['spec_code'],
											spec_name   : $.isEmptyObject(hot_code_data[k]['spec_name'])?'无':hot_code_data[k]['spec_name'],
											price   : $.isEmptyObject(hot_code_data[k]['price'])?'无':hot_code_data[k]['price'],
											barcode   : $.isEmptyObject(hot_code_data[k]['barcode'])?'无':hot_code_data[k]['barcode'],
											goods_no   : $.isEmptyObject(hot_code_data[k]['goods_no'])?'无':hot_code_data[k]['goods_no'],
											goods_name   : $.isEmptyObject(hot_code_data[k]['goods_name'])?'无':hot_code_data[k]['goods_name'],
											short_name   : $.isEmptyObject(hot_code_data[k]['short_name'])?'无':hot_code_data[k]['short_name'],
											brand_name   : $.isEmptyObject(hot_code_data[k]['brand_name'])?'无':hot_code_data[k]['brand_name'],
											class_name   : $.isEmptyObject(hot_code_data[k]['class_name'])?'无':hot_code_data[k]['class_name'],			
											package_num_int  : $.isEmptyObject(hot_code_data[k]['package_num_int'])?'无':hot_code_data[k]['package_num_int'],
											print_time  : $.isEmptyObject(hot_code_data[k]['print_time'])?'无':hot_code_data[k]['print_time'],
										}
									}
								}
							]
						});
					}
				
                    return datas;
                }
				stallsManagement.onPrinterSelect = function(printer_name){
                    var templateId = stallsManagement.select_box.template_list.combobox('getValue');
                    var contents = stallsManagement.template_contents;
                    var content = contents[templateId];
                    if(content.defaultPrinter != undefined && content.default_printer == printer_name)
                        return;
                    else
                        messager.confirm("您确定把\""+printer_name+"\"设置为此模板的打印机么？",function(r){
                            if(r){
                                stallsManagement.setDefaultPrinter(content,printer_name,templateId);
                            }
                        });
                }
                stallsManagement.setDefaultPrinter=function(content,printor,templateId){
                    content = JSON.parse(content);
                    content.default_printer = printor;
                    $.post("{:U('Purchase/StallsOrderManagement/setDefaultPrinter')}",{content:JSON.stringify(content),templateId:templateId},function(ret){
                        if(1 == ret.status){
                            messager.alert(ret.msg);
                        }else {
                            stallsManagement.template_contents[templateId] = JSON.stringify(content);
                        }
                    });
                }
				stallsManagement.templateOnSelect=function () {
                    if(stallsManagement.select_box.template_list.combobox('getData').length == 0)
                    {
                        return;
                    }
                    var print_list = stallsManagement.select_box.printer_list.combobox('getData');
                    var content = JSON.parse(stallsManagement.template_contents[stallsManagement.select_box.template_list.combobox('getValue')]);
                    if(undefined != content.default_printer && JSON.stringify(print_list).indexOf(content.default_printer) != -1){
                        stallsManagement.select_box.printer_list.combobox('setValue',content.default_printer);
                    }
                }
				stallsManagement.addStallsOrder = function(){
					stallsManagement.showDialog(this.params.add.id,this.params.add.title,this.params.add.url,500,1000,[]);
				}
			
		},0);
		
	});
	function checkPrintBox(){
		var select_rows = $('#response_dialog_datagrid').datagrid('getSelections');
		var row = $('#response_dialog_datagrid').datagrid('getRows');
		var num = row.length - select_rows.length;
		var rows = $('#'+stallsManagement.params.datagrid.id).datagrid('getSelections');
		var printer = stallsManagement.select_box.printer_list.combobox('getValue');
		var templateId = stallsManagement.select_box.template_list.combobox('getValue');
		var rows_id_list = '';
		for(var i=0; i<rows.length; i++){
			rows_id_list += rows[i].id + ',';
		}
		rows_id_list = rows_id_list.substr(0,rows_id_list.length-1);
		stallsManagement.printCode('hotcode',rows,printer,templateId,rows_id_list,num);
	}
	</script>
	</block>
<block name="dialog">
     <div id="{$id_list.edit}">
     </div>
	 <div id = "{$id_list.split}"></div>
	 <div id = "{$id_list.add}"></div>
	  <div id = "{$id_list.dialog}"></div>
</block>