<extend name="../../Common/View/datagrid_tabs_base" />
<block name="dialog"><!-- <div id="{$id_list.edit}"></div> --></block>
<block name="toolbar">
<div id="{$id_list.toolbar}" style="padding:5px;height:auto">
<form id="{$id_list.form}">
<div class="form-div">
<label>订 单 编 号：</label><input class="easyui-textbox txt" type="text" name="search[trade_no]" />
<label>　客户网名：</label><input class="easyui-textbox txt" type="text" name="search[buyer_nick]" />
<label>　店　　铺：</label><select class="easyui-combobox sel" name="search[shop_id]"><option value="all">全部</option><volist name='list.shop' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist></select>
<!-- <label>　仓　　库：</label><select class="easyui-combobox sel" name="search[warehouse_id]"><option value="all">全部</option><volist name='list.warehouse' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist></select> -->
<!-- <label>　物流公司：</label><select class="easyui-combobox sel" name="search[logistics_id]"><option value="all">全部</option><volist name='list.logistics' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist></select> -->
<!-- <a href="javascript:void(0)" onclick="HistoryTradeDetail.clickMore(this);">更多</a> -->
<label>　下单时间：</label><input class="easyui-datebox txt" type="text" id="history_trade_detail_start_time" name="search[start_time]" data-options="editable:false" value="{$trade_time.start_time}"/>
<label>　至：</label><input class="easyui-datebox txt" type="text" id="history_trade_detail_end_time" name="search[end_time]" data-options="editable:false" value="{$trade_time.end_time}"/>
　　<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="HistoryTradeDetail.checkSearch();">搜索</a>
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="HistoryTradeDetail.loadFormData();">重置</a>
</div>
</form>
<input type="hidden" id="{$id_list.hidden_flag}" value="1">
<a href="javascript:void(0)" class="easyui-menubutton" name="HistoryTradeDetail_out" data-options="iconCls:'icon-database-go',plain:true,menu:'#HistoryTradeDetail_out'" >导出功能</a>
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="setDatagridField('Trade/TradeDetail','trade_detail','{$datagrid.id}',1)">设置表头</a>
<span style="font-size:12px;color:red;">　#默认显示前3-6个月之间的数据#</span>
</div>
<div id="HistoryTradeDetail_out">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-excel',plain:true" onclick="HistoryTradeDetail.exportToExcel('csv')">导出csv(推荐)</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-excel',plain:true" onclick="HistoryTradeDetail.exportToExcel('excel')">导出到Excel</a>
</div>
<!-- <div id="HistoryTradeDetail-flag" style="width:100px;height:150px;" noline="true" >
	<volist name='list.flag' id='vo'>
		<div onclick="HistoryTradeDetail.newSelectFlag({$vo.id})"><span style="margin-left: -25px; background-color:{$vo.bg_color}; font-family:{$vo.family}; color: {$vo.color};">{$vo.name}</span></div>
    </volist>
</div> -->

<script type="text/javascript">
$(function () { 
	setTimeout(function () { 
        HistoryTradeDetail = new RichDatagrid(JSON.parse('{$params}')); 
        HistoryTradeDetail.setFormData();
        select_datebox('history_trade_detail_start_time','change_end');
        select_datebox('history_trade_detail_end_time','change_start');

        function date_change(start,end,type){
            var start_date,end_date,month_range = 3;
            var start_arr = start.split(' ');
            var start_arr_ymd = start_arr[0].split('-');
            var end_arr = end.split(' ');
            var end_arr_ymd = end_arr[0].split('-');
            switch (type){
                case 'change_end' :
                    start_date = new Date(start_arr_ymd[0],parseInt(start_arr_ymd[1])+month_range,start_arr_ymd[2]);
                    end_date = new Date(end_arr_ymd[0],end_arr_ymd[1],end_arr_ymd[2]);
                    // 如果开始时间大于结束时间,将结束时间推后3个月
                    var new_start_date = new Date(start_arr_ymd[0],start_arr_ymd[1],start_arr_ymd[2]);
                    if(start_date.getTime()<end_date.getTime() || new_start_date.getTime()>end_date.getTime()){
                        var new_date = start_date.getFullYear()+'-'+start_date.getMonth()+'-'+start_date.getDate();
                        $('#history_trade_detail_end_time').datebox('setValue',new_date);
                    }
                    break;
                case 'change_start' :
                    start_date = new Date(start_arr_ymd[0],start_arr_ymd[1],start_arr_ymd[2]);
                    end_date = new Date(end_arr_ymd[0],parseInt(end_arr_ymd[1])-month_range,end_arr_ymd[2]);
                    // 如果结束时间小于开始时间,将开始时间推前3个月
                    var new_end_date = new Date(end_arr_ymd[0],end_arr_ymd[1],end_arr_ymd[2]);
                    if(start_date.getTime()<end_date.getTime() || new_end_date.getTime()<start_date.getTime()){
                        var new_date = end_date.getFullYear()+'-'+end_date.getMonth()+'-'+end_date.getDate();
                        $('#history_trade_detail_start_time').datebox('setValue',new_date);
                    }
                    break;
            }
        };
        function select_datebox (id,type){
            $('#'+id).datebox({
                onSelect : function(){
                    var start = $('#history_trade_detail_start_time').datebox('getValue');
                    var end = $('#history_trade_detail_end_time').datebox('getValue');
                    date_change(start,end,type);
                }
            });
        };

        HistoryTradeDetail.checkSearch=function(){
            var form=$('#{$id_list.form}');
            var data=form.form('get');
            HistoryTradeDetail.submitSearchForm(this);
        }
		HistoryTradeDetail.exportToExcel = function(type){
            var url= "{:U('HistoryTradeDetail/exportToExcel')}";
            var id_list=[]; //记录所选的历史订单详细id
            for(i in this.selectRows){id_list.push(this.selectRows[i].rec_id);}
            var forms = $('#{$id_list.form}').form('get');
            var search=JSON.stringify(forms);

            var form=JSON.stringify(HistoryTradeDetail.params.search.form_data);    //获取所有查询条件的name值
            var rows = $("#{$id_list.id_datagrid}").datagrid("getRows");            //获取所有查询的id集合
            //获取数据
            if(rows==''){
                messager.confirm('导出不能为空！');
            }
            else if(id_list!=''){   //所选订单
                messager.confirm('确定导出选中的订单吗？',function(r){
                    if(!r){return false;}
                    window.open(url+'?id_list='+id_list+'&type='+type);
                })
            }
            else if(search==form){  //所有订单
                messager.confirm('确定导出所有的订单吗？',function(r){
                    if(!r){return false;}
                    window.open(url+'?id_list='+id_list+'&type='+type);
                })
            }
            else{
                messager.confirm('确定导出搜索的订单吗？',function(r){
                    if(!r){return false;}
                    window.open(url+'?id_list='+id_list+'&search='+search+'&type='+type);
                })
            }
        }
        
		// HistoryTradeDetail.newSelectFlag=function(id){
    	// 	var flag=[];
    	// 	flag.id=id;
    	// 	HistoryTradeDetail.selectFlag(flag);
    	// }
	}, 0); 
});
</script>
</block>
<block name="tabs"></block>