<form id='{$id_list.form_id}'>
<div class='form-div'>
	<label>　关键词： </label><input class="easyui-textbox txt" type="text" value="{$client_remark.keyword}" name="keyword" data-options="required:true"/>
</div>
<div class="form-div">
	<label>处理方式：</label>
	<input class="easyui-combobox txt" name="type" data-options="editable:false,required:true,panelHeight:'auto',valueField:'id',textField:'name',data:formatter.get_data('client_remark_type','def','{$client_remark.type}'),onSelect:clientRemark.selectDealType"/>
	<input id="{$id_list.select_id}" class="easyui-combobox sel"  name="target"  data-options="editable:false,required:true,valueField:'id',textField:'name'"/>
	<a href="javascript:void(0)" class="easyui-linkbutton" id="{$id_list.flag_id}" data-options="iconCls:'icon-edit',plain:true" onclick="clientRemark.setFlag()">标记</a>
</div>
<div class="form-div">
	<label  style="width:auto;display: inline-block;">停　　用：</label>
    <select class="easyui-combobox sel" name="is_disabled" data-options="panelHeight:'auto',editable:false, required:true" style="width:50px;">
        <if condition="$client_remark.is_disabled eq 1"><option value="0">否</option><option value="1" selected>是</option>
        <else/><option value="0" selected>否</option><option value="1">是</option> </if>
    </select>
</div>
</form>
<script type="text/javascript">
$(function(){
	setTimeout(function(){
		initClientRemark();
	},0);
});
function initClientRemark(){
	$('#{$id_list.flag_id}').hide();
	var type='{$client_remark.type}';
	var target='{$client_remark.target}';
	var list_form=JSON.parse('{$list_form}');
	var params=JSON.parse('{$params}');
	var list=new Array('','logistics','flag','employee','warehouse','trunAdvance','reason');
	if(type==2){
		$('#{$id_list.flag_id}').show();
		$('#{$id_list.select_id}').combobox({
			data:params.flag.list_flag,
		    value:target
		}); 
	}else if(type==0){
		$('#{$id_list.select_id}').combobox({
		    value:''
		}); 
	}else{
		$('#{$id_list.select_id}').combobox({
		    data:list_form[list[type]],
		    value:target
		});
	}
}
clientRemark.selectDealType = function(record){
	var list_form=JSON.parse('{$list_form}');
	var params=JSON.parse('{$params}');
	var list=new Array('','logistics','flag','employee','warehouse','trunAdvance','reason');
	$('#{$id_list.flag_id}').hide();
	if(record.id==2){
		$('#{$id_list.flag_id}').show();
		$('#{$id_list.select_id}').combobox({
		    data:params.flag.list_flag,
		    value:''
		}); 
	}else{
		$('#{$id_list.flag_id}').hide();
		$('#{$id_list.select_id}').combobox({
		    data:list_form[list[record.id]],
		    value:''
		});
	}
}
clientRemark.setFlag = function(){
	var params=JSON.parse('{$params}');
	var buttons=[ {text:'确定',handler:function(){ submitFlagsDialog(params.flag); }}, {text:'取消',handler:function(){clientRemark.cancelDialog(params.flag.dialog.id)}} ];
	clientRemark.showDialog(params.flag.dialog.id,params.flag.dialog.title,params.flag.dialog.url,params.flag.dialog.height,params.flag.dialog.width,buttons); 
}
function getClientRemark(){
	var form=$('#{$id_list.form_id}');
	if(!form.form('validate')){ return false;}
	var data={};
	data['info']=form.form('get');
	data['info']['class']=2;
	data['info']['target_name']=$('#{$id_list.select_id}').combobox('getText');
	return data;
}
clientRemark.submitAddDialog = function(){
	var data=getClientRemark();
	if(data==false){return;}
	$.post("{:U('RemarkExtract/addClientRemarkExtract')}",data,function(res){
		if(!res.status){
			messager.info(res.info);
		}else{
			$('#'+clientRemark.params.add.id).dialog('close');
			clientRemark.refresh();
		}
	},"JSON");
}
clientRemark.submitEditDialog = function(){
	var data=getClientRemark();
	if(data==false){return;}
	data.id='{$id}';
	$.post("{:U('RemarkExtract/editClientRemarkExtract')}",data,function(res){
		if(!res.status){
			messager.info(res.info);
		}else{
			$('#'+clientRemark.params.edit.id).dialog('close');
			clientRemark.refresh();
		}
	},"JSON");
}
</script>