<extend name="../../Common/View/datagrid_tabs_base"/>
<block name="toolbar">
<div id="{$id_list.toolbar}">
    <form id="{$id_list.form}">
        <div class="form-div">
            <label for="">编号：</label><input class="easyui-textbox txt" type="text" name="goods_no" data-options="required:true,validType:'length[1,40]'" missingMessage="不能为空"/>
            <label for="">名称：</label><input class="easyui-textbox" style="width:300px" type="text" name="goods_name" data-options="required:true,validType:'length[1,255]'" missingMessage="不能为空"/>
            <label for="">简称：</label><input class="easyui-textbox txt" type="text" name="short_name"/>
        </div>
        <div class="form-div">
            <label>别名：</label><input class="easyui-textbox txt" type="text" name="alias"/>
            <label>产地：</label><input class="easyui-textbox txt" type="text" name="origin"/>
            <label>分类：</label><input class="easyui-combotree txt" id="tree_class" name="class_id" value="0" data-options="url:'{:U('GoodsClass/getTreeClass')}?type=def',method:'post',required:true"/>
            <label>品牌：</label><select class="easyui-combobox sel" name="brand_id" data-options="panelHeight:'200',editable:false,required:true">
            <volist name='list.brand' id='vo'>
                <option value="{$vo.id}">{$vo.name}</option>
            </volist>
        </select>
        </div>
        <div class="form-div">
            <label>类别：</label><input class="easyui-combobox txt" name="goods_type" value="1" data-options="required:true,valueField:'id',textField:'name',data:formatter.get_data('goods_type','def'),panelHeight:'200'"/>
            <label>单位：</label><select class="easyui-combobox sel" name="unit" data-options="panelHeight:'200',editable:false">
            <volist name='list.unit' id='vo'>
                <option value="{$vo.id}">{$vo.name}</option>
            </volist>
        </select>
            <label>标记：</label><input class="easyui-combobox txt" name="flag_id" data-options="valueField:'id',textField:'name',data:goodsGoods.params.flag.list_flag,panelHeight:'200'"/>
            <label>备注：</label><input class="easyui-textbox txt" type="text" name="remark"/>
        </div>
    </form>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addGoods.append()">新建</a>
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="addGoods.edit()">编辑</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="addGoods.remove()">删除</a>
    <!-- <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="saveSpec()">保存</a> -->
    <span id="msg" style="color:red"></span>
</div>
</block>
<block name="dialog"></block>
<block name="tabs"></block>
<block name="script">
    <script type="text/javascript">
        //# sourceURL=addGoods.js
        //comboxtree->selected
        $(function () {
            $('#tree_class').changStyleTreeCombo('tree_class');
            $('#tree_class').combotree({
                onBeforeSelect: function (node) {
                    if (node.attributes == 0) {
                        return false;
                    }
                },
                onClick: function (node) {
                    if (node.attributes == 0) {
                        $('#tree_class').combo('showPanel');
                    }
                }
            });
        });
        //datagrid
        $(function () {
            /*$('#{$id_list.datagrid_id}').datagrid({
             toolbar: '#{$id_list.toolbar}',
             border: false,
             collapsible: true,
             singleSelect: true,
             fitColumns: false,
             fit: true,
             columns: [[{$datagrid_addGoods}]]
             });*/
            setTimeout(function () {
                addGoods = new ThinDatagrid($('#{$id_list.datagrid_id}'), undefined, false);
                addGoods.tipInfo = ',商家编码不能为特殊字符且不能重复';
                addGoods.append = function () {
                    if (addGoods.endEdit(true)) {
                        var row = addGoods.selector.datagrid('getSelected');
                        var spec_no;
                        var datagrid_length = addGoods.selector.datagrid('getRows').length;
                        if (row == null) {
                            spec_no = undefined;
                        } else {
                            spec_no = row.spec_no;
                        }
                        //else{if(datagrid_length==1){spec_no=row.spec_no+datagrid_length;}else{spec_no=row.spec_no.substring(0,row.spec_no.replace(/[^x00-xff]/g,"xx").length-1)+datagrid_length;}};
                        //addGoods.selector.datagrid('appendRow',{spec_no:spec_no,retail_price:'0.0000',wholesale_price:'0.0000',member_price:'0.0000',market_price:'0.0000',lowest_price:'0.0000',validity_days:'0',length:'0',width:'0',height:'0',sale_score:'0',pack_score:'0',pick_score:'0',weight:'0.00',tax_rate:'0'});
                        var dg = $("#{$id_list.datagrid_id}");
                        var rows = dg.datagrid("getRows");
                        if (rows.length == 0) {
                            addGoods.selector.datagrid('appendRow', {
                                spec_no: spec_no,
                                retail_price: '0.0000',
                                wholesale_price: '0.0000',
                                member_price: '0.0000',
                                market_price: '0.0000',
                                lowest_price: '0.0000',
                                validity_days: '0',
                                length: '0',
                                width: '0',
                                height: '0',
                                sale_score: '0',
                                pack_score: '0',
                                pick_score: '0',
                                weight: '0.00',
                                unit: '0',
                                large_type: '0',
                            });
                        } else {
                            var data = $.extend(true, {}, rows[rows.length - 1]);
                            data["img_url"] = "";
                            addGoods.selector.datagrid('appendRow', data);
                        }
                        addGoods.editIndex = (++datagrid_length) - 1;
                        addGoods.selector.datagrid('selectRow', addGoods.editIndex).datagrid('beginEdit', addGoods.editIndex);
                    }
                }
                $.extend($.fn.validatebox.defaults.rules, {
                    spec_no_unique: {
                        validator: function (value) {
                            if (value.trim() == '') {
                                return false;
                            }
                            if (typeof(value) != "undefined") {
                                var rows = addGoods.selector.datagrid("getRows");
                                for (var i in rows) {
                                    if (i != addGoods.editIndex && value.trim() == rows[i].spec_no.trim()) {
                                        return false;
                                    }
                                }
                            }
                            return true;
                        },
                        message: "商家编码不能重复,且不能为空"
                    }
                });
                //dialog->submit
                goodsGoods.submitAddDialog = function () {
                    if (!$("#" + '{$id_list.form}').form('validate')) {
                        return false;
                    }
                    var v_datagrid_len = addGoods.selector.datagrid('getRows').length;
                    if (v_datagrid_len == 0) {
                        messager.alert('货品至少需要一个规格');
                        return false;
                    }
                    if (!addGoods.endEdit(true)) {
                        return false;
                    }

                    var data = {};
                    data['spec_datagrid'] = JSON.stringify(addGoods.selector.datagrid('getRows'));
                    data['info'] = JSON.stringify($("#{$id_list.form}").form('get'));
                    $.post('{:U('GoodsGoods/addGoods')}', data, function (res) {
                        if (!res.status) {
                            messager.alert(res.info);
                            return false;
                        } else {
                            $('#' + goodsGoods.params.edit.id).dialog('close');
                            goodsGoods.refresh();//添加完后刷新表格
                        }
                    }, "JSON");
                }
            }, 0);
        });

    </script>
</block>
