<extend name="../../Common/View/datagrid_tabs_base"/>
<block name="toolbar"></block>
<block name="dialog"></block>
<block name="tabs"></block>
<block name="script">
    <script>
        //@ sourceURL=chg_class.js
        $(function() {
            $('#tree_class_show_chggoods').changStyleTreeCombo('tree_class_show_chggoods');
            $('#tree_class_show_chggoods').combotree({
                onBeforeSelect: function (node) {
                    if (node.attributes == 0) {
                        return false;
                    }
                },
                onClick: function (node) {
                    if (node.attributes == 0) {
                        $('#tree_class_show_chggoods').combo('showPanel');
                    }
                }
            });
        })
        goodsGoods.submitChg = function () {
            $.messager.progress({
                title: "请稍后",
                msg: "正在修改，请稍等..."
            });
            var form = $("#{$params.form_id}");
            var url = "{$params.form_url}";
            var dialog = $("#{$params.chg_dialog}");
            var dg = $("#{$params.id_datagrid}");
            if (!form.form("validate")) {
                return false;
            }
            form.form('options').queryParams = {};
            var api_chg_params = form.form('get');
            $.post(url,api_chg_params,function (res) {
                $.messager.progress('close');
                if (res.status == 0) {
                    dialog.dialog("close");
                    messager.alert(res.msg);
                    goodsGoods.refresh();
                } else {
                    messager.alert(res.msg);
                }
            },'json');

        }
    </script>
</block>
<block name="datagrid">
    <div class="form-div">
        <form method="post" id="{$params.form_id}" style="padding:20px 45px 20px 45px">
            <div style="display: none;"> <input hidden="true" name="rec_id" value="{$params.rec_id}"/> </div>
            <if condition="$params.type eq 'class' ">
            <div class="form-div" style="margin-bottom:10px">
                <label>分类：</label><input class="txt" id="tree_class_show_chggoods" value="-1" name="class_id" data-options="url:'{:U('GoodsClass/getTreeClass')}?type=all',method:'post',required:true"/>　
            </div>
            <else/>
                <label>品牌：</label>
                <select class="easyui-combobox sel" name="brand_id">
                    <volist name='list' id='vo'>
                        <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
                </select>　
            </if>
        </form>
    </div>
</block>