<extend name="../../Common/View/datagrid_tabs_base"/>
<block name="toolbar">
    <div id="{$id_list.tool_bar}" style="padding:5px;height:auto">
        <form id="{$id_list.form}" class="easyui-form" method="post">
            <div class="form-div">
                <label >移动墙属性：</label>
                <label style="color: #FF0000" id="old_wall_type">分拣墙</label> ========> <label style="color: #FF0000" id="new_wall_type">缺货墙</label>
                <label style="margin-left: 51px;">分配方式 <input class="easyui-combobox txt" text="txt" name="distribution_way" data-options="width:100,panelHeight:110,valueField:'id',textField:'name',data:[{'id':'0','name':'顺序分配'},{'id':'1','name':'倒序分配'},{'id':'2','name':'随机分配'}],editable:false,value:'0'"></label>
                <a href="javascript:void(0)" style="margin-left: 30px;" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick = "box_goods_trans.boxDistribution()";>一键分配</a>
            </div>
            <div class="form-div">
                <label >移动墙编号：</label>
                <label >当前墙 </label><input class="easyui-textbox txt" type="text" name="old_wall_no" data-options="width:100,disabled:true" /> ========>
                <label >目标墙 </label><select class="easyui-combobox sel" name="new_wall_no" data-options="editable:false,width:100,panelHeight:'150px',onChange:function(newValue,oldValue){sortingBox.newWallNoOnChange(newValue,oldValue,this);}"  ><volist name='form_data' id='vo'><option value="{$vo.wall_no}">{$vo.wall_no}</option></volist></select>
            </div>
        </form>
    </div>
<script type="text/javascript">
    //# sourceURL=box_goods_trans.js
$(function(){
    var toolbar_id = '{$id_list.tool_bar}';
    var element_selectors ={
        'old_wall_no'		:$('#'+toolbar_id+" :input[name='old_wall_no']"),
        'new_wall_no'		:$('#'+toolbar_id+" :input[name='new_wall_no']"),
        'distribution_way'	:$('#'+toolbar_id+" :input[name='distribution_way']"),
        'old_wall_type'		:$('#old_wall_type'),
        'new_wall_type'		:$('#new_wall_type'),
    };
    box_goods_trans = new Object();
    var old_wall_no = JSON.parse('{$old_wall_no}');
    var form_data_map = JSON.parse('{$form_data_map}');
    var newData = [];
    box_goods_trans.params = JSON.parse('{$params}');
    box_goods_trans.element_selectors = element_selectors;
    sortingBox.newWallNoOnChange = function (newValue, oldValue) {
        box_goods_trans.setNewWallType();
    }
    box_goods_trans.setNewWallType = function(){
        var old_wall_no = box_goods_trans.element_selectors.old_wall_no.textbox('getValue');
        var new_wall_no = box_goods_trans.element_selectors.new_wall_no.combobox('getValue');
        box_goods_trans.element_selectors.old_wall_type.text(form_data_map[old_wall_no]);
        box_goods_trans.element_selectors.new_wall_type.text(form_data_map[new_wall_no]);
        $.post("{:U('Purchase/SortingWall/getAllWallBoxByNo')}", {new_wall_no:new_wall_no}, function(r){
            if(r){
                newData = JSON.parse(r);
                var rows = $('#'+box_goods_trans.params.datagrid.id).datagrid('getRows');
                for(var i = 0; i < rows.length; ++i){
                    var rowIndex = $('#'+box_goods_trans.params.datagrid.id).datagrid('getRowIndex',rows[i]);
                    $('#'+box_goods_trans.params.datagrid.id).datagrid('updateRow',{index:rowIndex,row:{new_box_no:''}});
                }
            }
        });
    }
    box_goods_trans.boxDistribution = function(){
        dict_map_box_no = {};
        var distribution_way = box_goods_trans.element_selectors.distribution_way.combobox('getValue');
        var rows = $('#'+box_goods_trans.params.datagrid.id).datagrid('getRows');
        var updateDate_len = newData.length;
        if(updateDate_len==0){messager.info('该分拣墙没有多余的分拣框可使用，请更换分拣墙');}
        var randomData = [];
        if(distribution_way==2){randomData = newData.concat();randomData.sort(function(){ return 0.5 - Math.random(); });}
        for(var i = 0; i < rows.length; ++i){
            var rowIndex = $('#'+box_goods_trans.params.datagrid.id).datagrid('getRowIndex',rows[i]);
            var updateDate = '';
            switch (distribution_way){
                case '0' :
                    updateDate = newData[i]==undefined?'':newData[i]['box_no'];
                    break;
                case '1' :
                    updateDate = newData[updateDate_len-1]==undefined?'':newData[updateDate_len-1]['box_no'];
                    updateDate_len -= 1;
                    break;
                case '2' :
                    updateDate = randomData[i]==undefined?'':randomData[i]['box_no'];
                    break;
            }
            $('#'+box_goods_trans.params.datagrid.id).datagrid('updateRow',{index:rowIndex,row:{new_box_no:updateDate}});
            dict_map_box_no[updateDate]=true;
        }
    }
    $.extend($.fn.datagrid.methods, {
        editCell: function (jq, param) {
            return jq.each(function () {
                var opts = $(this).datagrid('options');
                var fields = $(this).datagrid('getColumnFields', true).concat($(this).datagrid('getColumnFields'));
                for (var i = 0; i < fields.length; i++) {
                    var col = $(this).datagrid('getColumnOption', fields[i]);
                    col.editor1 = col.editor;
                    if (fields[i] != param.field) {
                        col.editor = null;
                    }
                }
                $(this).datagrid('beginEdit', param.index);
                for (var i = 0; i < fields.length; i++) {
                    var col = $(this).datagrid('getColumnOption', fields[i]);
                    col.editor = col.editor1;
                }
            });
        }
    });
    $.extend($.fn.validatebox.defaults.rules, {
        new_box_no_unique: {
            validator: function (value) {
                if(!(!value)){
                    if(dict_map_box_no[value]){return false;}
                }
                return true;
            },
            message: "分拣框重复，请重新选择!"
        }
    });
    var dict_map_box_no = {};
    var editIndex = undefined;
    //点击单元格触发的事件
    function onClickCell(index, field) {
        if (endEditing()) {
            $('#'+box_goods_trans.params.datagrid.id).datagrid('selectRow', index)
                    .datagrid('editCell', { index: index, field: field });
            editIndex = index;
            if(field == 'new_box_no'){
                var ed = $('#'+box_goods_trans.params.datagrid.id).datagrid('getEditor', {index: index, field: 'new_box_no'});
                $(ed.target).combobox('loadData', newData);
            }
        }
    }
    //判断是否编辑结束
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#'+box_goods_trans.params.datagrid.id).datagrid('validateRow', editIndex)) {
            $('#'+box_goods_trans.params.datagrid.id).datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    //编辑完单元格之前触发的事件
    function onBeginEdit(index, row, changes) {
        var new_box_no_val = $('#'+box_goods_trans.params.datagrid.id).datagrid('getSelected');
        if(new_box_no_val.new_box_no!=''){dict_map_box_no[new_box_no_val.new_box_no]=false;}
    }
    //编辑完单元格之后触发的事件
    function onAfterEdit(index, row, changes) {
        var new_box_no_val = $('#'+box_goods_trans.params.datagrid.id).datagrid('getSelected');
        if(new_box_no_val.new_box_no!=''){dict_map_box_no[new_box_no_val.new_box_no]=true;}
        $('#'+box_goods_trans.params.datagrid.id).datagrid('endEdit', editIndex);
        $('#'+box_goods_trans.params.datagrid.id).datagrid('refreshRow', index);
        editIndex = undefined;
    }
    setTimeout(function(){
        $('#'+box_goods_trans.params.form.id).form('filterLoad',old_wall_no);
        box_goods_trans.setNewWallType();
        $('#'+box_goods_trans.params.datagrid.id).datagrid('options').onAfterEdit = function(index, row, changes){onAfterEdit(index, row, changes);};
        $('#'+box_goods_trans.params.datagrid.id).datagrid('options').onBeginEdit = function(index, row, changes){onBeginEdit(index, row, changes);};
        $('#'+box_goods_trans.params.datagrid.id).datagrid('options').onClickCell = function(index,field,value){onClickCell(index,field,value)};
        $('#'+box_goods_trans.params.datagrid.id).datagrid('enableCellEditing');
    },0);
});

</script>
</block>
<block name="tabs">
</block>