<extend name="../../Common/View/datagrid_tabs_base"/>
<block name="toolbar">
    <div id="examine_printer_data" class="easyui-combobox"></div>
    <script type="text/javascript">
        $(function(){
            examine_set_logistics_templates = new  Object();
            examine_set_logistics_templates.params = JSON.parse('{$params}');
            var templateData = JSON.parse('{$templates_info}');
            var printerData = [];
            stockoutExamine.selectPrinter('setting');

            $.extend($.fn.datagrid.methods, {
                editCell: function (jq, param) {
                    return jq.each(function () {
                        var opts = $(this).datagrid('options');
                        var fields = $(this).datagrid('getColumnFields', true).concat($(this).datagrid('getColumnFields'));
                        for (var i = 0; i < fields.length; i++) {
                            var col = $(this).datagrid('getColumnOption', fields[i]);
                            col.editor1 = col.editor;
                            if (fields[i] != param.field) {
                                col.editor = null;
                            }
                        }
                        $(this).datagrid('beginEdit', param.index);
                        for (var i = 0; i < fields.length; i++) {
                            var col = $(this).datagrid('getColumnOption', fields[i]);
                            col.editor = col.editor1;
                        }
                    });
                }
            });
            $.extend($.fn.validatebox.defaults.rules, {
                new_box_no_unique: {
                    validator: function (value) {
                        if(value == undefined){
                            return false;
                        }
                        return true;
                    },
                    message: "未知错误!"
                }
            });

            var editIndex = undefined;
            //点击单元格触发的事件
            function onClickCell(index, field) {
                if (endEditing()) {
                    $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('selectRow', index)
                        .datagrid('editCell', { index: index, field: field });
                    editIndex = index;
                    if(field == 'title'){
                        var ed = $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('getEditor', {index: index, field: 'title'});
                        $(ed.target).combobox('loadData', templateData[index]);
                    }
                    if(field == 'name'){
                        var ed = $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('getEditor', {index: index, field: 'name'});
                        $(ed.target).combobox('loadData', printerData);
                    }
                }
            }
            //判断是否编辑结束
            function endEditing() {
                if (editIndex == undefined) { return true }
                if ($('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('validateRow', editIndex)) {
                    $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('endEdit', editIndex);
                    editIndex = undefined;
                    return true;
                } else {
                    return false;
                }
            }
            //编辑完单元格之前触发的事件
            function onBeginEdit(index, row, changes) {
                var new_box_no_val = $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('getSelected');
//                if(new_box_no_val.new_box_no!=''){dict_map_box_no[new_box_no_val.new_box_no]=false;}
            }
            //编辑完单元格之后触发的事件
            function onAfterEdit(index, row, changes) {
                var new_box_no_val = $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('getSelected');
//                if(new_box_no_val.new_box_no!=''){dict_map_box_no[new_box_no_val.new_box_no]=true;}
                $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('endEdit', editIndex);
                $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('refreshRow', index);
                editIndex = undefined;
            }
            setTimeout(function(){

                $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('options').onAfterEdit = function(index, row, changes){onAfterEdit(index, row, changes);};
                $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('options').onBeginEdit = function(index, row, changes){onBeginEdit(index, row, changes);};
                $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('options').onClickCell = function(index,field,value){onClickCell(index,field,value)};
                $('#'+examine_set_logistics_templates.params.datagrid.id).datagrid('enableCellEditing');

                printerData = $("#examine_printer_data").combobox('getData');
            },0);
        });

    </script>
</block>
<block name="tabs">
</block>