<div style="margin-top:20px;margin-left:20px">
    <div style="margin-top:10px"><span><label>吊牌打印机：&nbsp&nbsp&nbsp&nbsp</label></span>
        <input id="examine_tag_printer_list" class="easyui-combobox" data-options="width:161"/>
    </div>
    <div style="margin-top:10px">
        <label>选择吊牌模板：&nbsp</label>
        <select id = 'examine_tag_template_list' class='easyui-combobox sel' data-options="width:161">
            <volist name='tag_template' id='vo'><option value="{$vo.id}">{$vo.name}</option></volist>
        </select>
        <div id="examineGoodsGuideTemplateDiv" style="margin-top:7px;margin-left:1px;display:none"><span style="color:red">没有“吊牌”模板，请去</span><a href="javascript:stockoutExamine.changeTemplatePage()">打印模板</a><span style="color:red">界面下载"吊牌"模板</span><span style="color:green;font-size: 13px">模板下载成功后，一定要回到这里进行设置</span></div>
    </div>
</div>
<script>
    var default_template_id = {$template_id};
    var printerInfo = {$printerInfo};
    var logistic_printer = printerInfo['logistic_printer'];
    var tag_printer = printerInfo['tag_printer'];

    $(function(){
        stockoutExamine.selectPrinter('goods');
        setTimeout(function(){
            /*	templateOnSelect("goods");*/
            if($('#examine_tag_template_list').combobox('getData').length == 0){
                $('#examineGoodsGuideTemplateDiv').show();
            }

            if(default_template_id != '-1')
                $('#examine_tag_template_list').combobox('select',{$template_id});
            if(tag_printer != '-1')
                $('#examine_tag_printer_list').combobox('setValue',tag_printer);
        },0);
    });
    function getDefTagTemp(){
        return {$template_id};
    }
</script>
